/* @use "reset"; */
/* @use "components"; */

// ============GITHUB ===========
// git add 
// git comment -m "last change"
// git push


// git pull origin main

// =============GITHUB===============
// git branch
// git status
// git remote -v
// git remote add origin https://github.com/Alex23017/portfolio.git
// git push origin <имя_ветки>













/* ==========RESET============= */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
img {
	vertical-align: top;
}

ul li {
	list-style: none;
}

button {
	background-color: transparent;
}

input::-ms-clear {display: none;
}
input,button,textarea{
	font-family:inherit;
}

:focus,:active {
	outline:none;
}

a:focus,a:active {
	outline:none;
}

button {cursor: pointer;
}

button::-moz-focus-inner {padding:0;border:0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-size: inherit;
}
html,
body {
	block-size: 100%;
}

/* ====================================================== */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	min-inline-size: 1280px; /* = 1280 + 15 + 15 */
	margin-inline: auto;
	padding-inline: 115px;
	
}
[class*="page__"] {
	max-inline-size: 1280px; /* = 1280 + 15 + 15 */
	margin-inline: auto;
	padding-inline: 115px;
	
}

