@media (max-width: 1250px) {
    .digest__body,
    .page__3-footer  {
        flex-direction: column;
    }
    .digest__container,
    .footer__container,
    .page__3-footer   {
        padding-inline: 72px;
    }

.digest__container  {
    row-gap: 30px;

}
}
@media (max-width: 1279px) {
    .works__cards-body {
        display: grid;
        grid-template-columns: repeat(3, minmax(210px, 1fr));

}

}


@media (max-width: 1100px) {
    .join__body-input,
    .join__body-button {
      flex-wrap: wrap;
      position: static;
      row-gap: 30px;
      width: 100%;
      text-align: center;
    }

}






@media (max-width: 970px) {

    .section__create,
    .section__animakid-1 {
        padding-block-start: 120px;
    }
    

    .digest__body,
    .create__body  {
        flex-direction: column;
    }
    .create__body {
        row-gap: 30px;
    }
    .creators__body-items .tablet--none{
        display: none;
    }
    .creators__body-items:nth-of-type(7),
    .creators__body-items:nth-of-type(8),
    .creators__body-items:nth-of-type(9),
    .creators__body-items:nth-of-type(10),
    .creators__body-items:nth-of-type(11),
    .creators__body-items:nth-of-type(12){
        display: none;

    }
    .discover__card-column:nth-of-type(3) {
        display: none;

    }

.works__column-title p {
    font-size: 16px;
    line-height: 120%;
    opacity: 0.8;
}
.works__column-title h3 {
    white-space: nowrap;
}
 .works__column-img {
    min-width: 167.8px;
 }
 .works__column-img img {
    min-width: 167.8px;
 }
 
    
    .digest__container,
    .footer__container,
    .ranking__link
  {
        padding-inline: 30px;
    }

    .create__column {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .create__img {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        max-width: 375px;
        overflow: hidden;
      
        padding: 0;
    }

    .create__body {
        align-items: center;
    }
  .create__body-link {
    display: flex;
    min-width: 100%;
  }
  .create__img {
    height: 232px;
  }

.discover__body-columnn {
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);

}
.Animakid-card__container,
.page__3-footer {
    padding-inline: 72px;
}

.animakid-2-title  {
   flex-direction: column;
}


.animakid-2__button-body {
    padding-block: 30px;
}

.animakid-1__container,
.section__animakid-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.animakid-1__avatar {
    left: 35%;
}


.discover__card-img {
}
.discover__card-img {
    max-width: 330px;
    width: 100%;


    
}

.discover__card-img img {
    width: 100%;
    max-width: 330px;
    min-width: 250px;


}
    


.discover__card-img img {


}

.page__3-footer,
.Animakid-card__container,
.owned__container,
.animakid-2__column-1,
.animakid-2__column-2,
.artist__container,
.ranking__container-title,
.ranking__container-cards {
    padding-inline: 30px;
}
.ranking__container-title {
    padding-block-end: 30px;
}
.ranking__text {

}
.creators__text p  {
    white-space: wrap;
    width: 100%;
  
}
.creators__body-title {
    padding-block-end: 30px;
}


.ranking__img-ava img {
    width: 24px;
}
.ranking__title h3 {
    font-size: 18px;
}

.ranking__text p:nth-child(2) {
    display: none;
}
.artist__column-2 p:nth-child(2) {
    display: none;
}

.artist__column-2 p {
    justify-content: center;

}
.ranking__text {
    justify-content: center;
}
.artist__column-2 p {
    justify-content: flex-start;
}
.creators__text {
    justify-content: flex-start;
}


.section__3 {
    padding-block-start: 40px;
}
.discover__container,
.trending__container,
.creators__container,
.browse__container,
.discover__container,
.works__container,
.join__container {
    padding-inline: 72px;
}


.create__body-item {
     display: grid;
     grid-template-columns: repeat(2, 1fr);

}


.creators__body-items{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.creators__items-img {
    padding: 20px;

}
.creators__column-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.creators__total-body {
    padding: 0;
    padding-block-start: 5px;
}
.creators__items-title {
    width: 100%;
}

.tabtel--none {
    display: none;
}



.creators__items-img img{
    max-width: 60px;
}


.discover__body-columnn {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);

}
.Mashrooms__items-body {
    flex-direction: column;
}
.Mashrooms__column-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.Mashrooms__button {
    text-align: center;
    width: 100%;
}
.Mashrooms__column-2 {
    padding-block-start:30px
}
.Mashrooms__icon-body {
    align-items: flex-start;
    width: 100%;
}
.join__body-title,
.join__body  {
    padding-inline-end: 0;
    padding-inline-start: 0;
}
.join__body  {
    flex-direction: column;
    align-items: center;
}
.join__column {
    display: flex;
    justify-content: center;
    width: 100%;
}
.join__column {
 
}
.discover__number-body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.trending__body :nth-of-type(3) {
    display: none;

}

    .discover__column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .discover__button  {
        width: 100%;
    }
    .discover2__img,
    .discover__number-column {
        padding-block-start: 40px;
    }

    .join__body-title,
    .join__img {
        padding-inline: 20px;
   
    }
    .join__img {
        width: 100%;

    }
    
.join__img img {
    overflow: hidden;
}
    .browse__cards-body {
        display: grid;
        grid-template-columns: repeat(2, 147.5px);
    }
    .browse__cards-title {
        text-align: center;
        white-space:  nowrap;
        width: 100%;
        padding-inline: 10px;
    }
    .browse__cards-body {
        justify-content: center;
        align-items: center;

    }
   
    .nav__list {
        display: none;
    }
    .burger__menu  {
        display: block;
    }

    .header {
       
    }
    .header__body {
        display: flex;
        row-gap: 20px;
        align-items: center;
        padding-inline: 20px;
        width: 100%;
    
       
    }
         .menu.open {
        display: flex;
        position: static;
        flex-wrap: wrap;
        justify-content: center;
    

    }
  
.header__body.open {
    flex-direction: column;
}

.header.open {
    padding-block-end: 50px;
}



    }

/* ======================= */
@media (hover: none) and (max-width: 970px) {
    .animakid-1__avatar {
        transform: none ;
        transition: none ;
    }

    .animakid-1__avatar:hover {
        transform: none;
        transition: none; 

}
}

@media (max-width: 710px) {

    .section__create,
    .section__animakid-1 {
     
        padding-block-start: 190px;
        

    }

    .discover__body-title {
        justify-content: center;
        align-items: center;

    }
    .disover__body-button {
        text-align: center;
        width: 100%;

    }

    .browse__cards-title h3 {
        font-size: 16px;

    }
    .discover__body-text {
        display: flex;
        flex-direction: column;
        padding-block-end: 30px;
        width: 100%;
        justify-content: flex-start;
        text-align: start;
        align-items: flex-start;

    }
    .discover__title h2 {
        font-size: 28px;
        
    }
    .discover__body-title,
    .creators__body-text {
        padding-block-start: 60px;
    }

}

@media (max-width: 835px) {
    .works__cards-body {
        display: flex;
        flex-direction: column;
    }
    .works__column {
        display: flex;
    }

}


/* ===================== */

@media (max-width: 600px) {

    .creators__body-title,
    .creators__body-button{
        text-align: center;
        flex-direction: column;
        width: 100%;
        row-gap: 30px;
    }
    .discover__title h1  {
        font-size: 38px;

    }
    .discover__text p {
        padding-block-start: 30px;
        font-size: 21px;
    }
    .discover__number-number {}

    .discover__card-column:nth-of-type(3) {
        display: block;


    }
    .trending__body  {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        row-gap: 20px;
    }
    .browse__cards-body {
        min-width: 100%;
        row-gap: 20px;
        column-gap: 20px;

    }
    .section__6 {

    }
    .browse__cards-body  {
        text-align: center;

        justify-content: center;
        align-items: center;
    }
    .browse__container  {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 375px;
    }
   

    .create__body-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .browse__cards-items {
        width: 140px;

    }



.discover__container,
.trending__container,
.creators__container,
.browse__container,
.discover__container,
.works__container,
.join__container {
    padding-inline: 30px;
}


    .menu__value  {
        display: none;
    }
    .animakid-2__button-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        
    }
    .animakid-2__button,
    .animakid-2__button2 {
        text-align: center;
        width: 100%;
    }

    .animakid-2__bio p {
        font-size: 16px;
    }
    .animakid-2__number-column {
        white-space: nowrap;
        column-gap: 20px;
    }

    .animakid-2__number-number {
        font-size: 16px;
    }
    .animakid-2__number-column {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .animakid-2__body {
        min-width: 315px;
    }
    .animakid-2__button-body,
    .animakid-2-title {
        min-width: 100%;
        
    }
    .owned__menu  {
        font-size: 16px;
        column-gap: 10px;
    }

    .animakid-2-title,
    .animakid-2__number-column {
        text-align: center;
        align-self: center;
    }

    .ranking__text span:nth-child(1),
    .artist__column-2 p:nth-child(1),
    .owned__menu-owned:first-child  {
        display: none;
    }
    .ranking__title h3 {
        font-size: 16px;
        font-weight: 400;
    }
  .ranking__column-body-1 {
    column-gap: 8px;
  }
  .ranking__body-number {
    font-size: 12px;
  }
  .ranking__card-body {
    column-gap: 9px;

  }

  .ranking__body-text p {
    font-size: 12px;

   
  }
  .ranking__body-text {
    font-size: 12px;
  }
  .artist__column-2 p {
    justify-content: center;
  }


  .ranking__column-body {
    padding-inline: 10px;
  }
  .ranking__card-body,
  .artist__body {
  padding-inline: 0px;
  min-width: 315px;
  }
  .ranking__container-cards{
    min-width: 100%;
    min-width: 375px;
  }

  .ranking__container-cards {
    min-width: 315px;
  }
  .ranking__text {

  }
  .creators__title h2  {
    font-size: 28px;
    text-transform: capitalize;
  }
  .ranking__container-title {
    justify-content: center;
    align-items: center;
    min-width: 315px;

  }
  .discover__column {
    min-width: 100%;
  }
  .discover__column-1 {
    width: 100%;
  }
  .discover__body-title {
    justify-content: flex-start;
    text-align: start;
  }
  .discover__title,
  .discover__body-number{
    width: 100%;
  }
  .discover__number-column {
    white-space: nowrap;
  }
  .discover__number-body p{
    font-size: 18px;
  }
}



@media (max-width: 400px) {
    .ranking__text {
        justify-content: flex-start;

    }
    .header.open {
        padding-block-end: 80px;
    } 

  
    .artist__column-1 {
        justify-content: center;
    }
 
    .owned__container  {
        padding-inline: 10px;
    }
    .creators__text {
        line-height: 100%;
    }
    .ranking__container-cards {
        min-width: 375px;
        
    }
    
   

        .Mashrooms__background {
            background: url('./img/screen-tablet@1x.png') 50% no-repeat;
            background-size: contain;
            min-width: 100%;
        }

        .Mashrooms__container  {
            padding-block: 20px;
        }
        .Mashrooms__title h2 {
            font-size: 28px;
        }
        .Mashrooms__items-body {
            height: 100%;
            width: 100%;
        }
        .join__column {
            padding-block-start: 0px;
        }
        .section__6,
        .section__4,
        .Mashrooms__background{
            min-width: 100%;
            display: flex;
            justify-content: center ;
            align-items: center;
        }
        .discover__body-columnn{
            
        }
        .Mashrooms__container {
     
        }
        .browse__container  {
            margin: 0;
        }
        .section__6,
        .section__7,
        .section__5,
        .section__4,
        .section__2 {
            padding-block: 20px;
        }
        .Mashrooms__countdown-title p
         {
            padding-block-start: 5px;
        }
        .Mashrooms__clock-body {
            padding-block-end: 5px;
        }
    .Mashrooms__column-2 {
        padding-block-start: 15px;

        }
        .Mashrooms__title h2,
        .Mashrooms__button  {
            padding-block: 10px;
        }
        .Mashrooms__icon-body {
            padding-block: 5px;
        }
        .Mashrooms__column-1 {
            margin-block-start: 20px;
        }
        .back__menu img {
            width: 25px;
        }
        .header__body.open{
            column-gap: 5px;
            

        }
        .header__body  {
            column-gap: 10px;
        }
    }
