@use "reset.scss";
@use "sass:math";




// TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}
// REM///////
@function rem($px) {
    $result: math.div($px, 16);
    @return #{$result}rem;
}
// EM///////
@function em($px) {
    $result: math.div($px, 16);
    @return #{$result}em;
}


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background: #2b2b2b;
    color: #fff;
}

h2 {
    font-size: rem(38);
    font-weight: 600;
    margin-block-start: rem(-1);
}
    

h3 {
    font-size: rem(22);
    font-weight: 600;
    margin-block-start: rem(-1);

}




.text--mono-reg {
    font-family: 'Space Mono', Helvetica, sans-serif;
    font-weight: 400;
}
.text--mono-bol {
    font-family: 'Space Mono', Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(28);
}


// ====================HEADER NAV=======================



.header__body{
    padding-inline: rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(20);
    vertical-align: baseline;
    column-gap: rem(30);
    width: 100%;
    max-width: 1300px;

}
.header{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-inline: rem(50);

    

}


    
.logo {
    display: flex;
    align-items: center;
    
}
.nav {
    display: flex;

}
.nav__list {
    display: flex;
    column-gap: rem(10);
    font-weight: 600;
    align-items: center;
    white-space: nowrap;
    line-height: 36px;
    
}
.nav__item {
    padding-inline: rem(20);
    padding-block: rem(12);
}
.nav__link {
}
.nav__item-button {
    display: flex;
    align-items: center;
    gap: rem(12);
    background-color: var(--background-color-button-cards);
    padding-inline: rem(30);
    border-radius: 20px;
    white-space: nowrap;
    

}


// =============SECTION__1 DISCOVER=======================


.button {
    background-color: var(--background-color-button-cards);
    border-radius: 16px;
    column-gap: rem(12);
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.container--with {
    min-width: 100%;
    max-width: 1050px;
    }

.body--with {
    width: 100%;
    max-width: 1050px;
}

.section__1, 
.section__2, 
.section__3, 
.section__4, 
.section__5, 
.section__6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: rem(80);
}


.discover__container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.discover__column {
    display: flex;
    column-gap: rem(30);

}
.discover__column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    max-width: 510px;
    margin: -1px 0px 0px 0px;



  


}
.discover__body-title {
    flex-direction: column;
    text-transform: capitalize;



}
.discover__title {
    
    font-size: rem(67);
    width: rem(510);



}
.discover__text {
    font-size: rem(22);
    line-height: 36px;
    padding-block-start: rem(20);
    padding-block-end: rem(30
    );

}
.discover__button {
    display: inline-flex;
    margin-block-end: rem(30);
    padding-inline: rem(50);
    height: 60px;
    font-weight: 600;
}
.discover__icon-link {
}
.discover__link {
}
.discover__body-number {


}
.discover__number-column {
    display: flex;
    gap: rem(30);
    justify-content: space-between;

}
.discover__number-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
}

.discover__number-number p {
    margin-block-start: rem(-1);
    font-size: rem(28);
}
.discover__number-text {
    font-size: rem(24);
    line-height: 38.4px;
}
.discover__column-2 {
    display: flex;

}
.discover2__body-img {
}

.discover2__img {
    width: 100%;
}

.discover2__img img {
    max-width: 510px; 
    min-width: 330px;

}


.discover2__title-body {
}
.discover2__title {
}
.discover2__icon {
}
.discover2__text {
}



// =====================SECTION__2 TRENDING=================


.trending__container {
    padding-block: rem(80);
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;
    justify-content: center;


 
    
    
}
.trending__body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(30);
}

.trending__card img {
    width: 100%;
  
}

.trending__items-body {
    display: flex;
    flex-direction: column;
}

.trending__body-title {
    max-width: 1050px;
    width: 100%;

}

.text {
    text-transform: capitalize;
    padding-block-start: rem(10);
    font-size: rem(22);
    line-height: 36px;
}
.trending__text {

}
.trending__body-card {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
    align-items: center;
    min-width: 250px;
}
.trending__card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.trending__card-img img {
  
    width: 100%;
}


.trending__column-card {
    display: flex;
    column-gap: rem(15);
    align-items: center;
    min-width: 250px;
}
.trending__column-card img {
   
    width: 100%;
}


.trending__card-items-img--background {
    font-size: rem(22);
    padding: 32px 15px;
    border-radius: 16px;
    background-color: var(--background-color-button-cards);

}

.trending__card-items-img  {
    max-width: 100%;

}


.trending__body-footer {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    align-self: flex-start;
    

}
.trending__fotter-title {
}
.trending__fotter-title {
}
.trending__body-icon {

}
.trending__fotter-icon {
    display: flex;
    column-gap: rem(12);
}

// ====================SECTION__ 3 CREATORS =========================

.creators__container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    align-items: center;





}

.create__body-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(30);
    row-gap: rem(30);
    }

.creators__body-title, 
.discover__body-title {
    display: flex;
    padding-block-end: rem(60);
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    column-gap: rem(20);
    
    


}
.creators__body-text{


}


.creators__title {
}
.creators__text {
}
.text {
}
.button2 {
    align-self: flex-end;
    padding-inline: rem(50);
    padding-block: rem(19);
    border-radius: 16px;
    border: 2px solid var(--border-color);
    white-space: nowrap;

}
.button2 img {
    padding-inline-end: rem(12);
}



.creators__body-items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: var(--background-color-card);
    
    
}
.creators__items-img {

    padding-block-start: rem(20);
    padding-inline: rem(5);
}
.creators__items-title {
    padding-block-start: rem(20);
    padding-block-end: rem(5);
}
.creators__total-body {
    display: flex;
    column-gap: rem(10);
    padding-inline: rem(20);
    padding-block-end: rem(20);
    align-items: center;
}
.creators__total-text-grey
{
    color: var(--card-color-text);
}

.creators__total-text {
}
.creators__total-text-grey {
}
.creators__total-number {
}
.text--mono-reg {
}
.creators__number-list {
    padding-block: rem(4);
    padding-inline: rem(10);
    background-color: var(--background-color-number);
    border-radius: 100%;
    color: var(--color-number);
    font-family: var(--font-family-mono);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: rem(18);
    left: rem(20);


}


// ======================SECTION__4 BROWSE===============


.browse__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;







}
.browse__title {
    padding-block-end: rem(40);
    max-width: 1050px;
    width: 100%;


}
.browse__cards-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(30);
    row-gap: rem(30);



}
.browse__cards-items {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-card);
    border-radius: 20px;
    position: relative;
    width: 100%;
    min-width: 150px;
    min-height: 142px;
    
}

.browse__card-icon {
    display: flex;
    position: absolute;
    align-self: center;
    top: 25%;
    justify-content: center;
    width: 50%;
    max-width: 100px;
    object-fit: cover;



}
.browse__card-icon img {
    width: 100%;
    min-width: 80px;




}


.browse__cards-title {
    padding-inline-start: rem(30);
    padding-block-start: rem(20);
    padding-block-end: rem(25);
    padding-inline-end: rem(30);

}

.browse__placeholder-img {
    display: flex;
    justify-content: center;
    width: 100%;
    filter: blur(5px);
}


.browse__placeholder-img img {
	object-fit: cover;
    width: 100%;
}


// ========SECTION__5====================


.discover__container {
    display: flex;
    flex-direction: column;
}

.discover__card-column {
    display: flex;
    flex-direction: column;
    row-gap: rem(25);
    background-color: var(--background-color-card);
    border-radius: 20px;

}
.discover__body-columnn {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: rem(30);
    width: 100%;
    max-width: 1050px;
    justify-content: center;
    align-items: center;

}

.discover__body-title {
    display: flex;

}
.discover__body-text {
    align-items: flex-end;
    
   

}
.discover__title {
    
}
.discover__text {
    padding: 0;
}


.disover__body-button {
}
.button2 {
}
.discover__card-body {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
}
.discover__card-img {
    max-width: 330px;
    width: 100%;
    overflow: hidden;
}

.discover__card-img img {
    width: 100%;
    max-width: 330px;
    min-width: 250px;

}

.discover__card-title {
    padding-inline: rem(30);
}
.discover__icon-body {
    display: flex;
    column-gap: rem(12);
    padding-inline: rem(30);
}
.discover__body-img {
}
.text--mono-reg {
}
.discover__price-column {
    display: flex;
    padding-inline: rem(30);
    padding-block-end: rem(25);
    column-gap: rem(20);
    white-space: nowrap;
    
}
.discover__body-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    row-gap: rem(8);
}
.discover__price-text,
.discover__bid-text {
    font-size: rem(12);
    color: var(--card-color-text);
    

}
.discover__body-value {
}
.discover__body-bid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: rem(8);
}
.discover__bid-text {
}
.discover__bid_value {

}

.tablet--none {

}