@charset "UTF-8";
/* @use "reset"; */
/* @use "components"; */
/* ==========RESET============= */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  block-size: 100%;
}

/* ====================================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  min-inline-size: 1280px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 115px;
}

[class*=page__] {
  max-inline-size: 1280px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 115px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: #2b2b2b;
  color: #fff;
}

h2 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.animation--jump {
  animation: jump 5s ease-in-out infinite;
}

.trending__body-card {
  animation: jump 5s ease-in-out infinite;
}
.trending__body-card:hover {
  animation: paused;
}

.nav__item-button:hover,
.nav__item:hover,
.logo:hover,
.button:hover,
.button2:hover,
.creators__body-items:hover,
.browse__cards-items:hover,
.discover__card-column:hover {
  transform: scale(1.1);
}

.text--mono-reg {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 400;
}

.text--mono-bol {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.header__body {
  padding-inline: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
  vertical-align: baseline;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  width: 100%;
  max-width: 1300px;
}

.header {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-inline: 3.125rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  font-weight: 600;
  align-items: center;
  white-space: nowrap;
  line-height: 36px;
}

.nav__link {
  position: relative;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--background-color-button-cards);
  transition: all 0.4s ease-in-out;
}

.nav__item-button .nav__link:hover {
  text-decoration: none; /* Убираем подчеркивание при наведении */
}

.nav__item {
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  text-shadow: #2b2b2b;
}

.nav__link,
.button,
.button2,
.trending__card-items-img,
.creators__items-title,
.browse__cards-title,
.discover__card-title,
.trending__title,
.creators__title,
.browse__title,
.discover__title,
.text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.trending__card-img,
.trending__column-card,
.creators__items-img,
.browse__card-icon {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.nav__item-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--background-color-button-cards);
  padding-inline: 1.875rem;
  border-radius: 20px;
  white-space: nowrap;
}

.button {
  background-color: var(--background-color-button-cards);
  border-radius: 16px;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.container--with {
  min-width: 100%;
  max-width: 1050px;
}

.body--with {
  width: 100%;
  max-width: 1050px;
}

.section__1,
.section__2,
.section__3,
.section__4,
.section__5,
.section__6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

.discover__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover__column {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.discover__column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  max-width: 510px;
  margin: -1px 0px 0px 0px;
}

.discover__body-title {
  flex-direction: column;
  text-transform: capitalize;
}

.discover__title {
  font-size: 4.1875rem;
  width: 31.875rem;
}

.discover__text {
  font-size: 1.375rem;
  line-height: 36px;
  padding-block-start: 1.25rem;
  padding-block-end: 1.875rem;
}

.discover__button {
  display: inline-flex;
  margin-block-end: 1.875rem;
  padding-inline: 3.125rem;
  height: 60px;
  font-weight: 600;
}

.discover__number-column {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
}

.discover__number-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
}

.discover__number-number p {
  margin-block-start: -0.0625rem;
  font-size: 1.75rem;
}

.discover__number-text {
  font-size: 1.5rem;
  line-height: 38.4px;
}

.discover__column-2 {
  display: flex;
}

.discover2__img {
  width: 100%;
}

.discover2__img img {
  max-width: 510px;
  min-width: 330px;
}

.trending__container {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
  align-items: center;
  justify-content: center;
}

.trending__body {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.trending__card img {
  width: 100%;
}

.trending__items-body {
  display: flex;
  flex-direction: column;
}

.trending__body-title {
  max-width: 1050px;
  width: 100%;
}

.text {
  text-transform: capitalize;
  padding-block-start: 0.625rem;
  font-size: 1.375rem;
  line-height: 36px;
}

.trending__body-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  align-items: center;
  min-width: 250px;
}

.trending__card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.trending__card-img:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
  animation: none;
}

.trending__card-img img {
  width: 100%;
}

.trending__column-card {
  display: flex;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  align-items: center;
  min-width: 250px;
}

.trending__column-card img {
  width: 100%;
}

.trending__card-items-img--background {
  font-size: 1.375rem;
  padding: 32px 15px;
  border-radius: 16px;
  background-color: var(--background-color-button-cards);
}

.trending__card-items-img {
  max-width: 100%;
}
.trending__card-items-img:hover {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.trending__body-footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  align-self: flex-start;
}

.trending__fotter-icon {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.creators__container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  align-items: center;
}

.create__body-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.creators__body-title,
.discover__body-title {
  display: flex;
  padding-block-end: 3.75rem;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.button2 {
  align-self: flex-end;
  padding-inline: 3.125rem;
  padding-block: 1.1875rem;
  border-radius: 16px;
  border: 2px solid var(--border-color);
  white-space: nowrap;
}

.button2 img {
  padding-inline-end: 0.75rem;
}

.creators__body-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: var(--background-color-card);
}

.creators__items-img {
  padding-block-start: 1.25rem;
  padding-inline: 0.3125rem;
}

.creators__items-title {
  padding-block-start: 1.25rem;
  padding-block-end: 0.3125rem;
}

.creators__total-body {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding-inline: 1.25rem;
  padding-block-end: 1.25rem;
  align-items: center;
}

.creators__total-text-grey {
  color: var(--card-color-text);
}

.creators__number-list {
  padding-block: 0.25rem;
  padding-inline: 0.625rem;
  background-color: var(--background-color-number);
  border-radius: 100%;
  color: var(--color-number);
  font-family: var(--font-family-mono);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.125rem;
  left: 1.25rem;
}

.browse__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.browse__title {
  padding-block-end: 2.5rem;
  max-width: 1050px;
  width: 100%;
}

.browse__cards-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.browse__cards-items {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-card);
  border-radius: 20px;
  position: relative;
  width: 100%;
  min-width: 150px;
  min-height: 142px;
}

.browse__card-icon {
  display: flex;
  position: absolute;
  align-self: center;
  top: 25%;
  justify-content: center;
  width: 50%;
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.browse__card-icon img {
  width: 100%;
  min-width: 80px;
}

.browse__cards-title {
  padding-inline-start: 1.875rem;
  padding-block-start: 1.25rem;
  padding-block-end: 1.5625rem;
  padding-inline-end: 1.875rem;
}

.browse__placeholder-img {
  display: flex;
  justify-content: center;
  width: 100%;
  filter: blur(5px);
}

.browse__placeholder-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.discover__container {
  display: flex;
  flex-direction: column;
}

.discover__card-column {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
  background-color: var(--background-color-card);
  border-radius: 20px;
}

.discover__body-columnn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  width: 100%;
  max-width: 1050px;
  justify-content: center;
  align-items: center;
}

.discover__body-title {
  display: flex;
}

.discover__body-text {
  align-items: flex-end;
}

.discover__text {
  padding: 0;
}

.discover__card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.discover__card-img {
  max-width: 330px;
  width: 100%;
  overflow: hidden;
}

.discover__card-img img {
  width: 100%;
  max-width: 330px;
  min-width: 250px;
}

.discover__card-title {
  padding-inline: 1.875rem;
}

.discover__icon-body {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  padding-inline: 1.875rem;
}

.discover__price-column {
  display: flex;
  padding-inline: 1.875rem;
  padding-block-end: 1.5625rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  white-space: nowrap;
}

.discover__body-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  row-gap: 0.5rem;
}

.discover__price-text,
.discover__bid-text {
  font-size: 0.75rem;
  color: var(--card-color-text);
}

.discover__body-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5rem;
}/*# sourceMappingURL=nft.style.css.map */