@charset "UTF-8";
/* @use "reset"; */
/* @use "components"; */
/* ==========RESET============= */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  block-size: 100%;
}

/* ====================================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  min-inline-size: 1280px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 115px;
}

.container--with {
  min-width: 100%;
  max-width: 1050px;
}

.body--with {
  width: 100%;
  max-width: 1050px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: #2b2b2b;
  color: #fff;
}

h2 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
@keyframes rotateXBackAndForth {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.animation--jump {
  animation: jump 5s ease-in-out infinite;
}

.trending__body-card {
  animation: jump 5s ease-in-out infinite;
}
.trending__body-card:hover {
  animation: paused;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.nav__item-button:hover,
.nav__item:hover,
.creators__body-items:hover,
.browse__cards-items:hover,
.discover__card-column:hover,
.join__img:hover,
.button2:hover,
.button:hover,
.digest__link-com:hover,
.back__menu:hover {
  transform: scale(1.1);
  animation: none;
}

.trending__card-img,
.trending__card-items-img,
.trending__card-items-img--background,
.creators__items-img,
.browse__card-icon,
.works__column-img,
.nav__link,
.join__img,
.discover__card-img {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}
.trending__card-img:hover,
.trending__card-items-img:hover,
.trending__card-items-img--background:hover,
.creators__items-img:hover,
.browse__card-icon:hover,
.works__column-img:hover,
.nav__link:hover,
.join__img:hover,
.discover__card-img:hover {
  animation: blink 1s ease infinite;
  filter: drop-shadow(0px 5px 5px rgb(255, 0, 0));
}

.button,
.button2,
.nav__item-button,
.back__menu,
.pay__column {
  animation: blink 1s ease infinite;
  filter: drop-shadow(0px 5px 5px rgb(255, 255, 255));
}

.nav__link,
.button,
.button2,
.trending__card-items-img,
.creators__items-title,
.browse__cards-title,
.discover__card-title,
.trending__title,
.creators__title,
.browse__title,
.discover__title,
.text,
.create__input input,
.discover__card-title,
.discover__price-column p,
.discover__body-text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text--mono-reg {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 400;
}

.text--mono-bol {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.burger__menu {
  display: none;
  position: relative;
  width: 32px;
  height: 2px;
  background-color: white;
  cursor: pointer;
}

.burger__menu::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: white;
  top: 8px;
  width: 80%;
  left: 0;
}

.burger__menu::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: white;
  bottom: 8px;
  width: 80%;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.header__body {
  padding-inline: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
  vertical-align: baseline;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  width: 100%;
  max-width: 1300px;
  position: fixed;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100;
}

.header {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-inline: 3.125rem;
}

.logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  font-weight: 600;
  align-items: center;
  white-space: nowrap;
  line-height: 36px;
}

.nav__link {
  position: relative;
}
.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--background-color-button-cards);
  transition: all 0.4s ease-in-out;
}

.nav__item-button .nav__link:hover {
  text-decoration: none;
}

.nav__item {
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  text-shadow: #2b2b2b;
}

.nav__item-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--background-color-button-cards);
  padding-inline: 1.875rem;
  border-radius: 20px;
  white-space: nowrap;
}

.button {
  background-color: var(--background-color-button-cards);
  border-radius: 16px;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.section__1,
.section__2,
.section__3,
.section__4,
.section__5,
.section__6,
.section__7,
.section__8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

.discover__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover__column {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  padding-block-start: 5rem;
}

.discover__column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  max-width: 510px;
  margin: -1px 0px 0px 0px;
}

.discover__body-title {
  flex-direction: column;
  text-transform: capitalize;
}

.discover__title {
  font-size: 4.1875rem;
  width: 31.875rem;
}

.discover__text {
  font-size: 1.375rem;
  line-height: 36px;
  padding-block-start: 1.25rem;
  padding-block-end: 1.875rem;
}

.discover__button {
  display: inline-flex;
  margin-block-end: 1.875rem;
  padding-inline: 3.125rem;
  height: 60px;
  font-weight: 600;
}

.discover__number-column {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
}

.discover__number-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
}

.discover__number-number p {
  margin-block-start: -0.0625rem;
  font-size: 1.75rem;
}

.discover__number-text {
  font-size: 1.5rem;
  line-height: 38.4px;
}

.discover__column-2 {
  display: flex;
}

.discover2__img {
  width: 100%;
}

.discover2__img img {
  max-width: 510px;
  min-width: 330px;
}

.trending__container {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
  align-items: center;
  justify-content: center;
}

.trending__body {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.trending__card img {
  width: 100%;
}

.trending__items-body {
  display: flex;
  flex-direction: column;
}

.trending__body-title {
  max-width: 1050px;
  width: 100%;
}

.text {
  text-transform: capitalize;
  padding-block-start: 0.625rem;
  font-size: 1.375rem;
  line-height: 36px;
}

.trending__body-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  align-items: center;
  min-width: 250px;
}

.trending__card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.trending__card-img:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
  animation: none;
}

.trending__card-img img {
  width: 100%;
}

.trending__column-card {
  display: flex;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  align-items: center;
  min-width: 250px;
}

.trending__column-card img {
  width: 100%;
}

.trending__card-items-img--background {
  font-size: 1.375rem;
  padding: 32px 15px;
  border-radius: 16px;
  background-color: var(--background-color-button-cards);
}

.trending__card-items-img {
  max-width: 100%;
}
.trending__card-items-img:hover {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.trending__body-footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  align-self: flex-start;
}

.trending__fotter-icon {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.creators__container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  align-items: center;
}

.create__body-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
  justify-content: center;
  align-items: center;
}

.creators__body-title,
.discover__body-title {
  display: flex;
  padding-block-end: 3.75rem;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.button2 {
  align-self: flex-end;
  padding-inline: 3.125rem;
  padding-block: 1.1875rem;
  border-radius: 16px;
  border: 2px solid var(--border-color);
  white-space: nowrap;
}

.button2 img {
  padding-inline-end: 0.75rem;
}

.creators__body-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: var(--background-color-card);
}
.creators__body-items .creators__column-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.creators__body-items .creators__total-body {
  width: 100%;
}

.creators__items-img {
  padding-block-start: 1.25rem;
  padding-inline: 0.3125rem;
}

.creators__items-title {
  padding-block-start: 1.25rem;
  padding-block-end: 0.3125rem;
}

.creators__total-body {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding-inline: 1.25rem;
  padding-block-end: 1.25rem;
  align-items: center;
}

.creators__total-text-grey {
  color: var(--card-color-text);
}

.creators__number-list {
  padding-block: 0.25rem;
  padding-inline: 0.625rem;
  background-color: var(--background-color-number);
  border-radius: 100%;
  color: var(--color-number);
  font-family: var(--font-family-mono);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.125rem;
  left: 1.25rem;
}

.browse__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.browse__title {
  padding-block-end: 2.5rem;
  max-width: 1050px;
  width: 100%;
}

.browse__cards-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.browse__cards-items {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-card);
  border-radius: 20px;
  position: relative;
  width: 100%;
  min-width: 150px;
  min-height: 142px;
}

.browse__card-icon {
  display: flex;
  position: absolute;
  align-self: center;
  top: 25%;
  justify-content: center;
  width: 50%;
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.browse__card-icon img {
  width: 100%;
  min-width: 80px;
}

.browse__cards-title {
  padding-inline-start: 1.875rem;
  padding-block-start: 1.25rem;
  padding-block-end: 1.5625rem;
  padding-inline-end: 1.875rem;
}

.browse__placeholder-img {
  display: flex;
  justify-content: center;
  width: 100%;
  filter: blur(5px);
}
.browse__placeholder-img:hover {
  filter: none;
}

.browse__placeholder-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.discover__container {
  display: flex;
  flex-direction: column;
}

.discover__card-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5625rem;
  background-color: var(--background-color-card);
  border-radius: 20px;
}

.discover__body-columnn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  width: 100%;
  max-width: 1050px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.discover__body-title {
  display: flex;
}

.discover__body-text {
  align-items: flex-end;
}

.discover__text {
  padding: 0;
}

.discover__card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  width: 100%;
}

.discover__card-img {
  max-width: 330px;
  width: 100%;
  overflow: hidden;
  align-self: center;
  animation: rotateXBackAndForth 2s ease-in-out infinite alternate;
  transition: all 1s ease;
}
.discover__card-img:hover {
  animation: none;
}

.discover__card-img img {
  width: 100%;
  max-width: 330px;
  min-width: 250px;
}

.discover__card-title {
  padding-inline: 1.875rem;
}

.discover__icon-body {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  padding-inline: 1.875rem;
}

.discover__price-column {
  display: flex;
  padding-inline: 1.875rem;
  padding-block-end: 1.5625rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  white-space: nowrap;
  width: 100%;
}

.discover__body-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  row-gap: 0.5rem;
}

.discover__price-text,
.discover__bid-text {
  font-size: 0.75rem;
  color: var(--card-color-text);
}

.discover__body-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5rem;
}

.Mashrooms__container {
  display: flex;
  justify-content: center;
  margin-inline: 0;
  padding-block-start: 22.5rem;
  padding-block-end: 3.75rem;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgb(162, 89, 255) 100%);
}

.Mashrooms__background {
  background: url("./img/screen-tablet@1x.png") 50% 50% no-repeat;
  background-size: cover;
  min-width: 100%;
}

.Mashrooms__items-body {
  display: flex;
  align-items: center;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
  width: 100%;
  max-width: 1050px;
  padding-inline: 3.125rem;
}

.Mashrooms__column-1 {
  flex: 1 1 auto;
}

.Mashrooms__icon-body {
  background-color: var(--background-color-card);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  max-width: 150px;
  padding-inline: 1.25rem;
  padding-block: 0.625rem;
}

.Mashrooms__title h2 {
  padding-block: 1.875rem;
  font-size: 3.1875rem;
}

.Mashrooms__button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  border: inherit;
  align-self: flex-start;
}

.Mashrooms__countdown-container {
  background-color: rgba(74, 73, 73, 0.5);
  border-radius: 16px;
}

.Mashrooms__clock-body span {
  display: flex;
  font-size: 2.375rem;
  justify-self: center;
}

.Mashrooms__clock-body {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding-inline: 1.875rem;
  padding-block-end: 1.875rem;
}

.Mashrooms__countdown-title p,
.hourse__clock p {
  font-size: 0.75rem;
  opacity: 0.8;
}

.Mashrooms__countdown-title p {
  padding-block-start: 1.875rem;
  padding-inline: 1.875rem;
}

.works__container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.works__items-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works__title-body {
  width: 100%;
  padding-block-end: 3rem;
}

.works__cards-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}

.works__column {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: none;
  align-items: center;
  background-color: var(--background-color-card);
  border-radius: 16px;
}

.works__column-img {
  padding-block-start: 0.625rem;
  padding-inline: 2.5rem;
}

.works__column-title p {
  text-transform: none;
}

.works__column-title {
  padding-inline: 1.875rem;
  padding-block-end: 1.875rem;
}

.works__column-img {
  max-width: 330px;
  width: 100%;
  overflow: hidden;
}

.works__column-img img {
  width: 100%;
  max-width: 330px;
  min-width: 100px;
}

.join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join__body {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  background-color: var(--background-color-card);
  border-radius: 16px;
  max-width: 1050px;
  width: 100%;
  padding-inline-start: 3.75rem;
}

.join__column {
  display: flex;
  align-items: center;
  width: 50%;
  padding-block: 4.9375rem;
}

.join__img {
  width: 425px; /* Устанавливаем фиксированную ширину 425px */
  max-width: 100%; /* Ограничиваем ширину 100% от доступного пространства */
  min-width: 300px;
}

.join__img img {
  width: 100%; /* Картинка растягивается по ширине родителя */
}

.join__body-title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-inline-end: 3.75rem;
}

.join__title {
  text-transform: capitalize;
  max-width: 400px;
}

.join__text {
  padding-block-start: 0.625rem;
  padding-block-end: 2.5rem;
}

.join__body-button {
  position: relative;
  padding-inline: 3.125rem;
  padding-block: 1.1875rem;
}

.join__body-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.join__input {
  min-width: 100%;
}

.join__input input {
  padding-inline-start: 1.25rem;
  padding-block: 1rem;
  border-radius: 16px;
  height: 58px;
  width: 100%;
}

.join__body-button {
  position: absolute;
  right: 0;
}

.ranking__link {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.section__9 {
  min-width: 100%;
}

.digest__container {
  display: flex;
  justify-content: center;
  padding-inline: 9rem;
  background-color: var(--background-color-card);
  min-width: 100%;
}

.digest__body {
  display: flex;
  padding-block-start: 2.5rem;
  -moz-column-gap: 5.625rem;
       column-gap: 5.625rem;
  justify-content: center;
  row-gap: 5rem;
  width: 100%;
  max-width: 1050px;
}

.digest__body h3 {
  font-family: Monospace;
  text-transform: capitalize;
}

.digest__column {
  max-width: 240px;
}

.digest__column3 {
  max-width: 420px;
}

.digest__link-body {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.digest__column3-title,
.digest__column2-title,
.digest__logo {
  padding-block-end: 1.5625rem;
}

.digest__text,
.digest__link,
.digest__link-text,
.digest__column2-link,
.digest__column3-text {
  padding-block-end: 1.25rem;
  color: #fff;
  opacity: 0.75;
}

.digest__link-text {
  padding-block-end: 0.9375rem;
}

.digest__link-discord:hover {
  background-color: #2234ba;
  border-radius: 100px;
}

.digest__link-utube:hover {
  background-color: #ff190c;
  border-radius: 100px;
}

.digest__link-twitter:hover {
  background-color: #209cea;
  border-radius: 100px;
}

.digest__link-instagram:hover {
  background-color: #b51212;
  border-radius: 100px;
}

.digest__column2-link {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.digest__column2-title {
  padding-block-end: 1.5625rem;
}

.digest__column3 {
  display: flex;
  flex-direction: column;
}

.join__body-input input::-moz-placeholder {
  min-width: 350px;
  color: gray;
  text-align: left;
}

.join__body-input input::placeholder {
  min-width: 350px;
  color: gray;
  text-align: left;
}

.digest__column3-text {
  padding-block-end: 1.25rem;
}

.digest__body-button {
  right: 0;
}

.digest__body-input {
  max-width: 420px;
  width: 100%;
}

.line {
  display: flex;
  justify-content: center;
  padding-block-start: 1.875rem;
  padding-block-end: 1.25rem;
  background-color: var(--background-color-card);
  min-width: 100%;
  max-width: 1280px;
}

.line span {
  background-color: white;
  opacity: 0.3;
  height: 2px;
  max-width: 1280px;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-card);
  padding-block-end: 2.5rem;
  padding-inline: 9.0625rem;
  min-width: 100%;
}

.footer__text {
  font-size: 0.75rem;
  color: #fff;
  opacity: 0.75;
}

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1050px;
}

.header__body-sign {
  position: static;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.section__create {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 5.625rem;
}

.section__create {
  display: flex;
  width: 100%;
  max-width: 1280px;
}

.create__container {
  display: flex;
  max-width: 1050px;
  padding: 0;
}

.create__body {
  display: flex;
  -moz-column-gap: 3.75rem;
       column-gap: 3.75rem;
  flex: 1;
}

.wrapper__sign {
  align-items: center;
}

.create__img {
  flex: 1 1 auto;
}

.create__img img {
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.create__title-body {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  text-transform: capitalize;
}

.create__title h2 {
  padding-block-end: 1.25rem;
  font-size: 3.1875rem;
}

.create__text {
  opacity: 0.8;
  text-transform: capitalize;
}

.create__body-input {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}

.create__body-input .create__button {
  padding-block-start: 15px;
}

.create__body-link {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  max-width: 330px;
}

.create__input {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}

.create__input input {
  padding-block: 0.75rem;
  border-radius: 16px;
  padding-inline-start: 3.25rem;
}

.create__input {
  position: relative;
  display: flex;
  justify-content: center;
}
.create__input:hover {
  animation: blink 1s ease infinite;
}

.create__input input::-moz-placeholder {
  color: black;
  font-size: 1rem;
  opacity: 0.8;
}

.create__input input::placeholder {
  color: black;
  font-size: 1rem;
  opacity: 0.8;
}

.username-input,
.email-input,
.password-input,
.confirm-input {
  position: absolute;
  padding-inline-start: 1.25rem;
  padding-inline-end: 0.8125rem;
}

.create__button {
  padding-block: 0.75rem;
  text-align: center;
  margin-block-start: 0.9375rem;
}

.section__animakid-1 {
  position: relative;
  padding-block-start: 6.25rem;
}

.Animakid__card-img {
  animation: none;
}

.animakid-1__container {
  min-width: 100%;
  padding-inline: 0;
}

.animakid-1__container img {
  width: 100%;
}

.animakid-1__avatar {
  position: absolute;
  bottom: -60px;
  left: 115px;
  transform: translateX(0vw);
  transition: all 10s ease;
}
.animakid-1__avatar:hover {
  transform: translateX(85vw);
  transition: all 10s ease;
}

.header__page-3 {
  position: fixed;
  z-index: 50;
  border-radius: 16px;
}

.animakid-2__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.animakid-2__body {
  padding-block-start: 5.625rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  flex-direction: column;
}

.animakid-2__column-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.animakid-2-title {
  display: flex;
}

.animakid-2-title h2 {
  flex: 1 1 auto;
}

.animakid-2__number-column {
  display: flex;
  align-items: center;
  -moz-column-gap: 3.4375rem;
       column-gap: 3.4375rem;
}

.Animakid__body-columnn {
  row-gap: 1.875rem;
}

.animakid-2__bio p {
  padding-block-start: 0.625rem;
  font-size: 1.375rem;
  text-transform: capitalize;
}

.animakid-2__bio span,
.animakid-2__links p {
  color: var(--color-number);
  font-size: 1.125rem;
}

.animakid-2__links-body {
  padding-block-start: 0.625rem;
}

.animakid-2__button-body {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.animakid-2__button {
  padding-inline: 1.28125rem;
  padding-block: 1.1875rem;
}

.line__page3 {
  background-color: var(--background-color-number);
}

.line__page3 span {
  opacity: 0.1;
  height: 1px;
}

.owned__container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.owned__container .owned__menu {
  padding-block-end: 0.3125rem;
}

.owner__body {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.owned__menu {
  display: flex;
  justify-content: center;
  font-size: 1.3125rem;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  white-space: nowrap;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.menu__value {
  font-size: 0.875rem;
  background-color: var(--background-color-card);
  border-radius: 16px;
  padding-block: 8px;
  padding-inline: 12px;
  max-width: 50px;
}

.menu__owned-text {
  color: var(--color-number);
}
.menu__owned-text:hover {
  color: #fff;
}

.owned__menu-created:hover .menu__owned-text,
.owned__menu-owned:hover .menu__owned-text,
.owned__menu-collection:hover .menu__owned-text {
  color: white;
}
.owned__menu-created:hover .menu__created-value,
.owned__menu-created:hover .menu__owned-value,
.owned__menu-created:hover .menu__collection-value,
.owned__menu-owned:hover .menu__created-value,
.owned__menu-owned:hover .menu__owned-value,
.owned__menu-owned:hover .menu__collection-value,
.owned__menu-collection:hover .menu__created-value,
.owned__menu-collection:hover .menu__owned-value,
.owned__menu-collection:hover .menu__collection-value {
  background-color: rgba(221, 208, 208, 0.486);
}

.owned__menu-owned,
.owned__menu-created,
.owned__menu-collection {
  position: relative;
}

.owned__menu-created:after,
.owned__menu-owned:after,
.owned__menu-collection:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #b6adad;
  bottom: 0;
  transition: all 0.3s ease-in;
}

.owned__menu-created:hover:after,
.owned__menu-owned:hover:after,
.owned__menu-collection:hover:after {
  width: 100%;
}

.section__Animakid-card {
  background-color: var(--background-color-card);
}

.Animakid-card__container {
  display: flex;
  justify-content: center;
  padding-block-start: 5rem;
  min-width: 100%;
}

.Animakid-card__body {
  display: flex;
  width: 100%;
}

.Animakid__card-column {
  background-color: var(--background-color-number);
}

.header__body-page3 {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 9.375rem;
       column-gap: 9.375rem;
}

.line--black {
  background-color: var(--background-color-card);
}

.line--black span {
  background-color: #2b2b2b;
  opacity: 1;
}

.page__3-footer {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}

.wallet__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  justify-content: flex-start;
  padding-block: 1.28125rem;
  padding-inline: 1.25rem;
  width: 100%;
}

.wallet__input,
.wallet__button {
  animation: none;
  filter: none;
}

.create__button:hover {
  animation: blink 1s ease infinite;
  filter: drop-shadow(0px 5px 5px rgb(255, 255, 255));
}

.wallet__button img {
  padding-inline-start: 1.25rem;
  min-width: 40px;
}

.pay__input {
  padding-block-end: 5rem;
}

.ranking__container-title {
  display: flex;
  justify-content: center;
  padding-block-end: 5rem;
  max-width: 1050px;
  padding-block: 5rem;
  font-size: 3.1875rem;
  width: 100%;
  padding-inline: 0;
}

.ranking__title h2 {
  font-size: 3.1875rem;
}

.ranking__text p,
.creators__text p {
  font-size: 1.375rem;
  width: 100%;
}

.header__ranking {
  margin-block-end: 6.875rem;
}

.ranking__body-title {
  padding-block-start: 5rem;
}

.artist__container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding-block-start: 2.5rem;
  font-size: 1.125rem;
  white-space: nowrap;
  padding-block-end: 1.25rem;
}

.artist__body {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1090px;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border: 1px solid var(--color-number);
  border-radius: 20px;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  color: #fff;
  opacity: 0.3;
}

.artist__colum {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.artist__column-1 {
  display: flex;
  flex: 1 1 auto;
}

.artist__column-2 {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  flex: 1 1 auto;
  text-align: center;
}

.artist__column-2 p {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  flex: 1 1 auto;
  text-align: center;
}

.ranking__menu {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}

.section__10 {
  display: flex;
  min-width: 100%;
}

.ranking__container-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block-end: 2.5rem;
}

.ranking__body-cards {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  width: 100%;
  max-width: 1090px;
}

.ranking__card-body {
  display: flex;
  padding-block: 0.78125rem;
  background-color: var(--background-color-card);
  border-radius: 20px;
  padding-inline: 1.25rem;
  justify-content: space-between;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.ranking__card-body:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.ranking__column-body {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.ranking__column-body-1 {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.ranking__body-number {
  background-color: var(--background-color-number);
  padding-block: 0.25rem;
  padding-inline: 0.625rem;
  border-radius: 100px;
  color: var(--color-number);
}

.ranking__column-body-2 {
  display: flex;
  width: 58%;
}

.ranking__body-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ranking__text {
  white-space: nowrap;
  width: 100%;
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  justify-content: flex-start;
}

.ranking__text span,
.ranking__text p {
  display: flex;
  justify-content: flex-start;
  width: 33%;
  font-size: 1.125rem;
}

.ranking__text span {
  color: rgb(25, 189, 25);
}

.ranking__body-text {
  flex-direction: column;
  display: flex;
}

.ranking__text {
  font-size: 1.375rem;
}

.ranking__today {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.wrapper {
  min-width: 100%;
  min-width: 375px;
}

.text--sa p {
  font-size: 22px;
}/*# sourceMappingURL=nft.style.css.map */