/* @use "reset"; */
/* @use "components"; */
/* ==========RESET============= */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  block-size: 100%;
}

/* ====================================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  min-inline-size: 1280px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 115px;
}

[class*=page__] {
  max-inline-size: 1280px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
  padding-inline: 115px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: #2b2b2b;
  color: #fff;
}

h2 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-block-start: -0.0625rem;
}

.text--mono-reg {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 400;
}

.text--mono-bol {
  font-family: "Space Mono", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.header {
  padding-inline: 3.125rem;
  display: flex;
  justify-content: space-between;
  padding-block: 1.25rem;
  vertical-align: baseline;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  font-weight: 600;
  align-items: center;
  white-space: nowrap;
  line-height: 36px;
}

.nav__item {
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
}

.nav__item-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--background-color-button-cards);
  padding-inline: 1.875rem;
  border-radius: 20px;
  white-space: nowrap;
}

.button {
  background-color: var(--background-color-button-cards);
  border-radius: 16px;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.section__1 {
  display: flex;
  justify-content: center;
  padding-block: 5rem;
}

.discover__column {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.discover__column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 510px;
  margin: -1px 0px 0px 0px;
}

.discover__body-title {
  text-transform: capitalize;
}

.discover__title {
  font-size: 4.1875rem;
  width: 31.875rem;
}

.discover__text {
  font-size: 1.375rem;
  line-height: 36px;
  padding-block-start: 1.25rem;
  padding-block-end: 1.875rem;
}

.discover__button {
  display: inline-flex;
  margin-block-end: 1.875rem;
  padding-inline: 3.125rem;
  height: 60px;
  font-weight: 600;
}

.discover__number-column {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
}

.discover__number-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
}

.discover__number-number p {
  margin-block-start: -0.0625rem;
}

.discover__number-text {
  font-size: 1.5rem;
  line-height: 38.4px;
}

.discover__column-2 {
  display: flex;
}

.discover2__img {
  max-width: 510px;
  min-width: 510px;
}

.section__2 {
  display: flex;
  justify-content: center;
}

.trending__container {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
  align-items: center;
}

.trending__body {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.trending__items-body {
  display: flex;
  flex-direction: column;
}

.trending__body-title {
  align-self: flex-start;
}

.text {
  text-transform: capitalize;
  padding-block-start: 0.625rem;
  font-size: 1.375rem;
  line-height: 36px;
}

.trending__body-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  align-items: center;
}

.trending__column-card {
  display: flex;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  align-items: center;
}

.trending__card-items-img--background {
  font-size: 1.375rem;
  padding: 32px 15px;
  border-radius: 16px;
  background-color: var(--background-color-button-cards);
}

.trending__body-footer {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  align-self: flex-start;
}

.trending__fotter-icon {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.section__3 {
  display: flex;
  justify-content: center;
}

.create__body-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
}

.creators__body-title {
  display: flex;
  padding-block-end: 3.75rem;
  justify-content: space-between;
}

.creators__body-button {
  align-self: flex-end;
  padding-inline: 3.125rem;
  padding-block: 1.1875rem;
  border-radius: 16px;
  border: 2px solid var(--border-color);
}

.creators__body-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-color: var(--background-color-card);
}

.creators__items-img {
  padding-block-start: 1.25rem;
}

.creators__total-body {
  display: flex;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding-inline: 1.25rem;
  padding-block-end: 1.25rem;
}/*# sourceMappingURL=nft.style.css.map */