@use "reset.scss";
@use "sass:math";




// TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}
// REM///////
@function rem($px) {
    $result: math.div($px, 16);
    @return #{$result}rem;
}
// EM///////
@function em($px) {
    $result: math.div($px, 16);
    @return #{$result}em;
}


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background: #2b2b2b;
    color: #fff;
}

h2 {
    font-size: rem(38);
    font-weight: 600;
    margin-block-start: rem(-1);
}
    

h3 {
    font-size: rem(22);
    font-weight: 600;
    margin-block-start: rem(-1);

}

// ==============KEYFRAMES BLINK================

@keyframes blink {
    0%, 100% { 
        opacity: 1;
    }
        50% {
            opacity: 0.8;
        }

}

// ==============KEYFRAMES BLINK================

@keyframes rotateXBackAndForth  {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
 
}

// ==============JUMP================

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);

}

}
.animation--jump {
    animation: jump 5s ease-in-out infinite;
}

.trending__body-card{
    animation: jump 5s ease-in-out infinite;
    &:hover {
        animation: paused;
    }
}

// ==============fadeIn================



@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}


// ==============Hover========================================================



// ==========================SCALE===============

.nav__item-button,
.nav__item,
.creators__body-items,
.browse__cards-items,
.discover__card-column,
.join__img,
.button2,
.button,
.digest__link-com,
.back__menu
{
    &:hover {
        transform: scale(1.1);
        animation: none;
    }
}





// ==========================BLINK + WHITE===============

.trending__card-img,
.trending__card-items-img,
.trending__card-items-img--background,
.creators__items-img,
.browse__card-icon,
.works__column-img,
.nav__link,
.join__img,
.discover__card-img {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
    &:hover {
        animation: blink 1s ease infinite;
        filter: drop-shadow(0px 5px 5px rgb(255, 0, 0));
    }
    
}




.button,
.button2,
.nav__item-button,
.back__menu,
.pay__column  {
    animation: blink 1s ease infinite;
    filter: drop-shadow(0px 5px 5px rgb(255, 255, 255));

}

// ==========================TEXT SHADOW===============


.nav__link,
.button,
.button2,
.trending__card-items-img,
.creators__items-title,
.browse__cards-title,
.discover__card-title,
.trending__title,
.creators__title,
.browse__title,
.discover__title, 
.text,
.create__input input,
.discover__card-title,
.discover__price-column p,
.discover__body-text{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


// ===================================================================

.text--mono-reg {
    font-family: 'Space Mono', Helvetica, sans-serif;
    font-weight: 400;
}
.text--mono-bol {
    font-family: 'Space Mono', Helvetica, sans-serif;
    font-weight: 700;
    font-size: rem(28);
}


// ====================HEADER NAV=======================



.header__body{
    padding-inline: rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(20);
    vertical-align: baseline;
    column-gap: rem(30);
    width: 100%;
    max-width: 1300px;
    position: fixed;
    backdrop-filter: blur(15px);
    z-index: 100;

}

.header{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-inline: rem(50);
}



.logo  {
    display: flex;
    align-items: center;

    column-gap: rem(20);

}

.logo-img {

}

.nav {
    display: flex;

}
.nav__list {
    display: flex;
    column-gap: rem(10);
    font-weight: 600;
    align-items: center;
    white-space: nowrap;
    line-height: 36px;
}

.nav__link {
    position: relative;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--background-color-button-cards);
        transition: all 0.4s ease-in-out;
    }
}

.nav__item-button .nav__link:hover {
    text-decoration: none; 
  }



.nav__item {
    padding-inline: rem(20);
    padding-block: rem(12);
    text-shadow: #2b2b2b;
}




.nav__item-button {
    display: flex;
    align-items: center;
    gap: rem(12);
    background-color: var(--background-color-button-cards);
    padding-inline: rem(30);
    border-radius: 20px;
    white-space: nowrap;
}




// =============SECTION__1 DISCOVER=======================


.button {
    background-color: var(--background-color-button-cards);
    border-radius: 16px;
    column-gap: rem(12);
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

// 1

.section__1, 
.section__2, 
.section__3, 
.section__4, 
.section__5, 
.section__6, 
.section__7, 
.section__8 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: rem(80);
}


.discover__container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.discover__column {
    display: flex;
    column-gap: rem(30);
    padding-block-start: rem(80);

}
.discover__column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    max-width: 510px;
    margin: -1px 0px 0px 0px;



  


}
.discover__body-title {
    flex-direction: column;
    text-transform: capitalize;



}
.discover__title {
    
    font-size: rem(67);
    width: rem(510);



}
.discover__text {
    font-size: rem(22);
    line-height: 36px;
    padding-block-start: rem(20);
    padding-block-end: rem(30
    );

}
.discover__button {
    display: inline-flex;
    margin-block-end: rem(30);
    padding-inline: rem(50);
    height: 60px;
    font-weight: 600;
}
.discover__icon-link {
}
.discover__link {
}
.discover__body-number {


}
.discover__number-column {
    display: flex;
    gap: rem(30);
    justify-content: space-between;

}
.discover__number-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
}

.discover__number-number p {
    margin-block-start: rem(-1);
    font-size: rem(28);
}
.discover__number-text {
    font-size: rem(24);
    line-height: 38.4px;
}
.discover__column-2 {
    display: flex;

}
.discover2__body-img {
}

.discover2__img {
    width: 100%;
}

.discover2__img img {
    max-width: 510px; 
    min-width: 330px;

}


.discover2__title-body {
}
.discover2__title {
}
.discover2__icon {
}
.discover2__text {
}



// =====================SECTION__2 TRENDING=================


.trending__container {
    padding-block: rem(80);
    display: flex;
    flex-direction: column;
    row-gap: rem(60);
    align-items: center;
    justify-content: center;


 
    
    
}
.trending__body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(30);
}

.trending__card img {
    width: 100%;
  
}

.trending__items-body {
    display: flex;
    flex-direction: column;
}

.trending__body-title {
    max-width: 1050px;
    width: 100%;

}

.text {
    text-transform: capitalize;
    padding-block-start: rem(10);
    font-size: rem(22);
    line-height: 36px;
}
.trending__text {

}
.trending__body-card {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
    align-items: center;
    min-width: 250px;
}
.trending__card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:hover {
        transform: scale(1.05);
        transition: all 0.1s ease;
        animation: none;
        
    }




}



.trending__card-img img {
  
    width: 100%;
}


.trending__column-card {
    display: flex;
    column-gap: rem(15);
    align-items: center;
    min-width: 250px;
}
.trending__column-card img {
   
    width: 100%;
}


.trending__card-items-img--background {
    font-size: rem(22);
    padding: 32px 15px;
    border-radius: 16px;
    background-color: var(--background-color-button-cards);

}

.trending__card-items-img  {
    max-width: 100%;
    &:hover {
        transform: scale(1.1);
        transition: all 0.1s ease;
    }

}


.trending__body-footer {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    align-self: flex-start;
    

}
.trending__fotter-title {
}
.trending__fotter-title {
}
.trending__body-icon {

}
.trending__fotter-icon {
    display: flex;
    column-gap: rem(12);
}

// ====================SECTION__ 3 CREATORS =========================

.creators__container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    align-items: center;

}

.create__body-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(30);
    row-gap: rem(30);
    }

.creators__body-title, 
.discover__body-title {
    display: flex;
    padding-block-end: rem(60);
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    column-gap: rem(20);
    
    


}
.creators__body-text{


}


.creators__title {
}
.creators__text {
}
.text {
}
.button2 {
    align-self: flex-end;
    padding-inline: rem(50);
    padding-block: rem(19);
    border-radius: 16px;
    border: 2px solid var(--border-color);
    white-space: nowrap;

}
.button2 img {
    padding-inline-end: rem(12);
}



.creators__body-items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: var(--background-color-card);

    

 
    
    
}
.creators__items-img {

    padding-block-start: rem(20);
    padding-inline: rem(5);
}
.creators__items-title {
    padding-block-start: rem(20);
    padding-block-end: rem(5);
}
.creators__total-body {
    display: flex;
    column-gap: rem(10);
    padding-inline: rem(20);
    padding-block-end: rem(20);
    align-items: center;
}
.creators__total-text-grey
{
    color: var(--card-color-text);
}

.creators__total-text {
}
.creators__total-text-grey {
}
.creators__total-number {
}
.text--mono-reg {
}
.creators__number-list {
    padding-block: rem(4);
    padding-inline: rem(10);
    background-color: var(--background-color-number);
    border-radius: 100%;
    color: var(--color-number);
    font-family: var(--font-family-mono);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: rem(18);
    left: rem(20);


}


// ======================SECTION__4 BROWSE===============


.browse__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;







}
.browse__title {
    padding-block-end: rem(40);
    max-width: 1050px;
    width: 100%;


}
.browse__cards-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(30);
    row-gap: rem(30);



}
.browse__cards-items {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-card);
    border-radius: 20px;
    position: relative;
    width: 100%;
    min-width: 150px;
    min-height: 142px;
 
    
}

.browse__card-icon {
    display: flex;
    position: absolute;
    align-self: center;
    top: 25%;
    justify-content: center;
    width: 50%;
    max-width: 100px;
    object-fit: cover;



}
.browse__card-icon img {
    width: 100%;
    min-width: 80px;




}


.browse__cards-title {
    padding-inline-start: rem(30);
    padding-block-start: rem(20);
    padding-block-end: rem(25);
    padding-inline-end: rem(30);

}

.browse__placeholder-img {
    display: flex;
    justify-content: center;
    width: 100%;
    filter: blur(5px);
    &:hover {
        filter: none;
    }
}




.browse__placeholder-img img {
	object-fit: cover;
    width: 100%;
}


// ========SECTION__5====================


.discover__container {
    display: flex;
    flex-direction: column;
}

.discover__card-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: rem(25);
    background-color: var(--background-color-card);
    border-radius: 20px;

}
.discover__body-columnn {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: rem(30);
    width: 100%;
    max-width: 1050px;
    justify-content: center;
    align-items: center;

}

.discover__body-title {
    display: flex;

}
.discover__body-text {
    align-items: flex-end;
    
   

}
.discover__title {
    
}
.discover__text {
    padding: 0;
}


.disover__body-button {
}
.button2 {
}
.discover__card-body {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    width: 100%;

}
.discover__card-img {
    max-width: 330px;
    width: 100%;
    overflow: hidden;
    align-self: center;
    animation: rotateXBackAndForth 2s ease-in-out infinite alternate;
    transition: all 1s ease;
    &:hover {
        animation: none;
    }
    
}

.discover__card-img img {
    width: 100%;
    max-width: 330px;
    min-width: 250px;


}

.discover__card-title {
    padding-inline: rem(30);
}
.discover__icon-body {
    display: flex;
    column-gap: rem(12);
    padding-inline: rem(30);
}
.discover__body-img {
}
.text--mono-reg {
}
.discover__price-column {
    display: flex;
    padding-inline: rem(30);
    padding-block-end: rem(25);
    column-gap: rem(20);
    white-space: nowrap;
    width: 100%;
    
}
.discover__body-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    row-gap: rem(8);
}
.discover__price-text,
.discover__bid-text {
    font-size: rem(12);
    color: var(--card-color-text);
    

}
.discover__body-value {
}
.discover__body-bid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: rem(8);
}
.discover__bid-text {
}
.discover__bid_value {

}

.tablet--none {

}

// ================SECTION__6================


.Mashrooms__container {
    display: flex;
    justify-content: center;
    margin-inline: 0;
    padding-block-start: rem(360);
    padding-block-end: rem(60);
    background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, 
    rgb(162.00000554323196, 89.00000229477882, 255) 100%);
}

.Mashrooms__background {
    background: url('./img/screen-tablet@1x.png') 50% 50% no-repeat;
    background-size: cover;
    min-width: 100%;
    

}

.Mashrooms__items-body {
    display: flex;
    align-items: center;
    column-gap: rem(50);
    width: 100%;
    max-width: 1050px;




}
.Mashrooms__column-1 {
    flex: 1 1 auto;
}

.Mashrooms__column-2,
.works__column,
.join__img {

}


.Mashrooms__icon-body {
    background-color: var(--background-color-card);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    column-gap: rem(12);
    max-width: 150px;
    padding-inline: rem(20);
    padding-block: rem(10);
}
.Mashrooms__title h2 {
    padding-block: rem(30);
    font-size: rem(51);

}
.Mashrooms__button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    border: inherit;
    align-self: flex-start;
}
.button2 {
}
.Mashrooms__countdown-container {
    background-color: rgba(74, 73, 73, 0.5);
    border-radius: 16px;

}

.Mashrooms__clock-body span{
    display: flex;
    font-size: rem(38);
    justify-self: center
   
}
.Mashrooms__clock-body{
    display: flex;
    column-gap: rem(10);
    padding-inline: rem(30);
    padding-block-end: rem(30);


   
}
.Mashrooms__countdown-title p,
.hourse__clock p {
    font-size: rem(12);
    opacity: 0.8;
}
.Mashrooms__countdown-title p  {
    padding-block-start: rem(30);
    padding-inline: rem(30);

}


// ===========SECTION__ 7 WORKS ================

.works__container {
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.works__items-body {


}
.works__title-body {
    padding-block-end: rem(48);

}
.works__title {
}
.works__text {

}
.text {
}
.works__cards-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(30);
}
.works__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: none;
    align-items: center;
    background-color: var(--background-color-card);
    border-radius: 16px;
}
.works__column-img {
    padding-block-start: rem(10);
    padding-inline: rem(40);

   

}
.works__column-img {
}

.works__column-img {

}
.works__column-title p {
    text-transform: none;

}
.works__column-title {
    padding-inline: rem(30);
    padding-block-end: rem(30);
}

.works__column-img{
    max-width: 330px;
    width: 100%;
    overflow: hidden;
}

.works__column-img img {
    width: 100%;
    max-width: 330px;
    min-width: 100px;

}


// ======SECTION__8 Join =================]


.section__8 {

}

.join__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




.join__body {
    display: flex;
    column-gap: rem(80);
    background-color: var(--background-color-card);
    border-radius: 16px;
    max-width: 1050px;
    width: 100%;
    padding-inline-start: rem(60);
}



.join__column {
    display: flex;
    align-items: center;
    width: 50%;
    padding-block: rem(79);

}

.join__img {
    width: 425px; /* Устанавливаем фиксированную ширину 425px */
    max-width: 100%; /* Ограничиваем ширину 100% от доступного пространства */
    min-width: 300px;


 }
 
 .join__img img {
     width: 100%; /* Картинка растягивается по ширине родителя */

 }




.join__body-title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-inline-end: rem(60);
}
.join__title {
    text-transform: capitalize;
    max-width: 400px;
}
.join__text {
    padding-block-start: rem(10);
    padding-block-end: rem(40);
}



.join__body-button {
    position: relative;
    padding-inline: rem(50);
    padding-block: rem(19);
}


.join__body-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}


.join__input {
    min-width: 100%;


}

.join__input input {
    padding-inline-start: rem(20);
    padding-block: rem(16);
    border-radius: 16px;
    height: 58px;
    width: 100%;

}

.join__body-button {
    position: absolute;
    right: 0;



}

.ranking__link {
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
}

// ================SECTION__9=====================


.section__9 {
    min-width: 100%;

}
.digest__container {
    display: flex;
    justify-content: center;
    padding-inline: rem(144);
    background-color:var(--background-color-card) ;
    min-width: 100%;

}
.digest__body {
    display: flex;
    padding-block-start: rem(40);
    column-gap: rem(90);
    justify-content: center;
    row-gap: rem(80);
    width: 100%;
    max-width: 1050px;

}
.digest__body h3 {
    font-family: Monospace;
    text-transform: capitalize;

}



.digest__column {
    max-width: 240px;
}



.digest__column3 {
    max-width: 420px;



}
.digest__items {
}

.digest__link-body {
    display: flex;
    column-gap: rem(10);
}

.digest__column3-title,
.digest__column2-title,
.digest__logo  {
    padding-block-end: rem(25);
}


.digest__text,
.digest__link,
.digest__link-text,
.digest__column2-link,
.digest__column3-text
 {
    padding-block-end: rem(20);
    color: #fff;
    opacity: 0.75;
}

.digest__body-link {

}
.digest__link-text {
    padding-block-end: rem(15);
}




.digest__link-discord {
    &:hover {
    background-color: #2234ba;
    border-radius: 100px;
    }
}
.digest__link-utube {
    &:hover {
        background-color: #ff190c;
        border-radius: 100px;
        }
}
.digest__link-twitter {
    &:hover {
        background-color: #209cea;
        border-radius: 100px;
        }
}
.digest__link-instagram {
    &:hover {
        background-color: #b51212;
        border-radius: 100px;
        }
}


.digest__column2 {



}
.digest__column2-link  {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
}
.digest__column2-title  {
    padding-block-end: rem(25);
}

.digest__column3 {
    display: flex;
    flex-direction: column;

}
.digest__column3-title {
}

.join__body-input input::placeholder {
    min-width: 350px;
    color: gray;
    text-align: left;
}
 


.join__body-button {

}
.digest__column3-text  {
    padding-block-end: rem(20);
}

.digest__body-button {
    right: 0;
}

.digest__body-input {
    max-width: 420px;
    width: 100%;


}

.line {
    display: flex;
    justify-content: center;
    padding-block-start: rem(30);
    padding-block-end: rem(20);
    background-color: var(--background-color-card);
    min-width: 100%;
    max-width: 1280px;
}

.line span {
    background-color: white;
    opacity: 0.3;
    height: 2px;
    max-width: 1280px;
    width: 100%;


}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-card);
    padding-block-end: rem(40);
    padding-inline: rem(145);
    min-width: 100%;
// =====
}

.footer__text {
    font-size: rem(12);
    color: #fff;
    opacity: 0.75;
}

.footer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1050px;
}
// =====================PAGE SIGN UP ========================

.header__body-sign {
    position: static;
    backdrop-filter: none;

    
}


.section__create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__create {
    display: flex;
    width: 100%;
    max-width: 1280px;
}

.create__container {
    display: flex;
    max-width: 1050px;

    padding: 0;
}
.create__body {
    display: flex;
    column-gap: rem(60);
    flex: 1 ;

}
 
.wrapper__sign {

    align-items: center;
}

.create__img {
    flex: 1 1 auto;
}


.create__img img {
    min-width: 100%;

    object-fit: contain;
}


.create__title-body {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    text-transform: capitalize;
}
.create__title h2 {
    padding-block-end: rem(20);
    font-size: rem(51);

}
.create__text {
opacity: 0.8;
    text-transform: capitalize;
}
.create__body-input {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
}
.create__body-input .create__button {
    padding-block-start: 15px;
}

.create__body-link {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
    max-width: 330px;
}
.create__input  {
    display: flex;
    flex-direction: column;
    row-gap: rem(15);
    
}
.create__input input  {
    padding-block: rem(12);
    border-radius: 16px;
    padding-inline-start: rem(52);
    

}

.create__input {
    position: relative;
    display: flex;
    justify-content: center;
    &:hover {
    animation: blink 1s ease infinite;
    }
}


.create__input input::placeholder {
   color: black;
   font-size: rem(16);
   opacity: 0.8;
 
}



.username-input,
.email-input,
.password-input,
.confirm-input   {
    position: absolute;
    padding-inline-start: rem(20);
    padding-inline-end: rem(13);
    
}

.create__button {
    padding-block: rem(12);
    text-align: center;
    margin-block-start: rem(15);
}

// ============PAGE 3 ANIMAKID=============

.section__animakid-1 {
    position: relative;
}


.Animakid__card-img {
    animation: none;
}

.animakid-1__container {

    min-width: 100%;
    padding-inline: 0;
}
.animakid-1__container img {
    width: 100%;
}

.animakid-1__avatar {
    position: absolute;
    bottom: -60px;
    left: 115px;
    transform: translateX(0vw);
    transition: all 10s ease;
    &:hover {
        transform: translateX(85vw);
        transition: all 10s ease;
    }
}


// ============================PAGE 3 ANIMAKID-2 ============
.section__animakid-2 {
}

.header__page-3 {
    position: fixed;
    z-index: 50;
    border-radius: 16px;
}

.animakid-2__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
.animakid-2__body {
    padding-block-start: rem(90);
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    flex-direction: column;

}
.animakid-2__column {
}
.animakid-2__column-1 {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
}
.animakid-2-title {
    display: flex;
}
.animakid-2-title h2 {
    flex: 1 1 auto;
}
.animakid-2__number-column {
    display: flex;
    align-items: center;
    column-gap: rem(55);


}

.Animakid__body-columnn {
    row-gap: rem(30);
}
.animakid-2__number-body {
}
.animakid-2__number-number {
}

.animakid-2__number-text {
}
.animakid-2__bio p {
    padding-block-start: rem(10);
    font-size: rem(22);
    text-transform: capitalize;

}
.animakid-2__bio span,
.animakid-2__links p {
    color: var(--color-number);
    font-size: rem(18);

    
}
.animakid-2__links {
}
.animakid-2__links-body {
    padding-block-start: rem(10);
}
.animakid-2__column-2 {
}
.animakid-2__button-body {
    display: flex;
    align-items: center;
    column-gap: rem(20);
    
}
.animakid-2__button {
    padding-inline: rem(20.5);
    padding-block: rem(19);
}

.animakid-2__button2 {
}

.line__page3 {
    background-color:var(--background-color-number);
    
}

.line__page3 span {
    opacity: 0.1;
    height: 1px;
}


// ===================PAGE 3 menu card ==================

.section__owned {
}
.owned__container {
    display: flex;
    justify-content: center;
    min-width: 100%;



}
.owner__body {
    display: flex;
    justify-content: center;
    min-width: 100%;


}
.owned__menu {
    display: flex;

    justify-content: center;
    font-size: rem(21);
    align-items: center;
    width: 100%;
    max-width: 1050px;
    white-space: nowrap;
    column-gap: rem(20);


}

.owned__menu-owned {


}

.owned__menu-text {


}
.menu__created-text {
}
.menu__created-value {
}
.owned__menu-owned {
}
.menu__owned-text {
}
.menu__owned-value {
}
.owned__menu-collection  {

}
.menu__collection-text {
}
.menu__collection-value {
}

.menu__value {
font-size: rem(14);
background-color: var(--background-color-card);
border-radius: 16px;
padding-block: 8px;
padding-inline: 12px;
max-width: 50px;


}
.menu__owned-text {
color: var(--color-number);
&:hover {
    color: #fff;

}
}

.owned__menu-created,
.owned__menu-owned,
.owned__menu-collection {
    &:hover {
    .menu__owned-text{
        color: white;
        

    }
    .menu__created-value,
    .menu__owned-value,
    .menu__collection-value{
        background-color: rgba(221, 208, 208, 0.486);
    }

}
}

.owned__menu-owned, 
.owned__menu-created, 
.owned__menu-collection {
    position: relative;
}


.owned__menu-created:after,
.owned__menu-owned:after, 
.owned__menu-collection:after {
    
    position: absolute;
    content: "";
    width: 0%;
    height: 0.5px;
    background-color: #b6adad;
    bottom: 0;
    transition: all 0.3s ease-in;
   
}

.owned__menu-created:hover:after, 
.owned__menu-owned:hover:after, 
.owned__menu-collection:hover:after {
    width: 100%; 
  }

// ===============PAGE 3 CARD BODY===================

.section__Animakid-card {
    background-color: var(--background-color-card);
}
.Animakid-card__container {
    display: flex;
    justify-content: center;
    padding-block-start: rem(80);
    min-width: 100%;
    
}
.Animakid-card__body {
    display: flex;
    width: 100%;
}

.Animakid__card-column {
    background-color: var(--background-color-number);
}



.header__body-page3  {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: rem(150);
  
}

.line--black {
    background-color: var(--background-color-card);

}
.line--black span {
    background-color: #2b2b2b;
    opacity: 1;

}

.page__3-footer  {
    column-gap: rem(80);
}


// ==========CONNECT WALLET PAGE ========================

.wallet__button {
    display: flex;
    align-items: center;
    column-gap: rem(20);
    justify-content: flex-start;
    padding-block: rem(20.5);
    padding-inline: rem(20);
    width: 100%;


}

.wallet__input,
.wallet__button {
    animation: none;
    filter: none;
}

.create__button {
        &:hover {
            animation: blink 1s ease infinite;
        filter: drop-shadow(0px 5px 5px rgb(255, 255, 255));
            
        }
    
}

.wallet__button img {
    padding-inline-start: rem(20);
    min-width: 40px;

}



// =================PAYCARD=============


.pay__input {
    padding-block-end: rem(80);
}


// ======================Rankign====================


.ranking__container-title {
    display: flex;
    justify-content: center;
    padding-block-end: rem(80);
    max-width: 1050px;
    padding-block: rem(80);
    font-size: rem(51);
}
.ranking__container-title h2 {
    font-size: rem(51);
  
}
.ranking__text p,
.creators__text p  {
    font-size: rem(22);
    width: 100%;
  
}


.header__ranking {

margin-block-end: rem(110);
}


.section__artist {
}
.artist__container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-block-start: rem(40);
    font-size: rem(18);
    white-space: nowrap;
    padding-block-end: rem(20);
}
.artist__body {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1090px;
    justify-content: center;
    column-gap: rem(8);
    border: 1px solid var(--color-number);
    border-radius: 20px;
    padding-block: rem(12);
    padding-inline: rem(20);
    color: #fff;
    opacity: 0.3;

}
.artist__colum {
    display: flex;
    column-gap: rem(20);

}
.artist__column-1 {
    display: flex;
    flex: 1 1 auto;




}
.artist__column-2 {
    display: flex;
    justify-content: flex-start;
    column-gap: rem(20);
    flex: 1 1 auto;
    text-align: center;
} 
.artist__column-2 p {
    display: flex;
    justify-content: flex-start;
    column-gap: rem(20);
    flex: 1 1 auto;
    text-align: center;
}



.ranking__menu  {
    display: flex;
    column-gap: rem(80);
}


.section__10 {
    display: flex;
    min-width: 100%;
}
.ranking__container-cards {
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding-block-end: rem(40);



}
.ranking__body-cards {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    width: 100%;
    max-width: 1090px;



}
.ranking__card-body {
    display: flex;
    padding-block: rem(12.5);
    background-color: var(--background-color-card);
    border-radius: 20px;
    padding-inline: rem(20);
    justify-content: space-between;
    column-gap: rem(20);
    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }





}
.ranking__column-body {
    white-space: nowrap;
    display: flex;
    align-items: center;
    
    

}
.ranking__column-body-1 {
    display: flex;
    column-gap: rem(20);


}
.ranking__body-number {
    background-color: var(--background-color-number);
    padding-block: rem(4);
    padding-inline: rem(10);
    border-radius: 100px;
    color: var(--color-number);
}
.ranking__img-ava {
}
.ranking__title {
}
.ranking__column-body-2 {
    display: flex;
    width: 58%;



   
}
.ranking__body-text {
    display: flex;
    width: 100%;
    justify-content: center;




}
.ranking__text {
    white-space: nowrap;
    width: 100%;
    display: flex;
    column-gap: rem(20);
    justify-content: flex-start;


 


}
.ranking__text span,
.ranking__text p {
    display: flex;
    justify-content: flex-start;
    width: 33%;

    font-size: rem(18);
}

.ranking__text span  {
    color: rgb(25, 189, 25);
}

.ranking__body-text{
    flex-direction: column;
    display: flex;

}
.ranking__text{
    font-size: rem(22);
}

.ranking__today {
    display: flex;
   justify-content: center;
   text-align: center;
   align-self: center;
 
}

.wrapper__ranking {
    min-width: 100%;
    min-width: 375px;
}

.text--sa p {
    font-size: 22px;
}