@use "../2/css/reset.css";

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: 1440px; /* + 15 + 15px */
	margin-inline: auto;
	padding-inline: 15px;
}

body {
background-color: #013A4C;;
}


// /HEADER==========================

.header {
    background-color: #FFFFFF;
}


.header__container {


}


.header___body {
        display: grid;
        grid-template-columns: auto 1fr auto;
        min-block-size: 80px;
        align-items: center;
        padding-inline: 48px;
        flex-wrap: wrap;


}






.header__logo-link {

}

.header__logo-img {


}


.nav__menu {

}

    

.menu_list {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    padding-inline-end: 48px;
    margin-block-start: 30px;
    margin-block-end: 30px;
 
    
}


.menu__items { }



.menu__link {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    &:hover { transform: scale(1.1);
        text-decoration: underline;
        transition: all 0.3s;

    }

}


    .item__two {
        margin-inline: 62px;

    }


.menu__bottums {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.bottums {
}


.bottums__link { 
    display: flex;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #e6ac26;
        border-color: #e6ac26;
        transition: all 0.3s;
    }


}

.link__yellow {
    border-radius: 4px;
    background-color: #FFD063;
    padding-inline: 17px;
    padding-block: 11px;

 

}
.link__transparent {
    padding-inline: 17px;
    padding-block: 11px;
    border: 1px solid black;
    border-radius: 4px;
}

.bottums__logo {
    padding-inline-start: 50px;
    min-inline-size: 20px;
    min-block-size: 20px;

}

// ==================SECTION__1===========================

.wonders {
    background-color: #FFFFFF;


}

.wonders__body {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    min-inline-size: 100%;
    

}
.wonders__img {
    min-inline-size: 100%;
    height: auto;
    object-fit: cover;

}
.wonders__items-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-inline-start: 144px;
    



}
.wonders__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 76px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #013A4C;
    z-index:2;

}
.wonder__text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    padding-block-start: 31px;
    padding-block-end: 25px;
    max-inline-size: 491px;

}
.wonder__buttons {
    display: flex;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    gap: 16px;


     
}
.wonder__buttons-link {

    
}




.buttons__first {
    background-color:#FFD063 ;
    border-radius: 4px;
    padding-block: 15px;
    padding-inline: 21px;
    &:hover {
        background-color: #e6ac26;
        transition: all 0.3s;
    }

}

.buttons_twice {
    background-color: #013A4C;
    border-radius: 4px;
    padding-block: 15px;
    padding-inline: 21px;
    color: #fff;
    &:hover {
        background-color: #04546d;
        transition: all 0.3s;
    }

}



// @media (max-width: 1250px) { ====================================


@media (max-width: 1250px) {



    .wonders__items-body {
        padding-inline-start: 80px;

    }
}




// @media (max-width: 1150px) {{ ====================================
@media (max-width: 1150px) {

    .header___body {
        display: flex;
        flex-direction: column;
        padding-block: 15px;

    }
    .header__logo-body {
        padding-block: 15px;
    }
    .header__logo-link {
    }
    .header__logo-img {
    }
    .nav__menu {
    }
    .menu_list {
        padding: 0;
    }
    .menu__items {
    }
    .menu__link {
    }
    .item__two {
        margin: auto;

    }

    .menu__bottums  {
        gap: 30px;
    }
    .bottums {
    }
    .bottums__link {
    }
    .link__yellow {
    }
    .link__transparent {
    }
    .bottums__logo {
       padding-inline-start: 10px;
    }
    .section__1 {
    }
    .wonders {
    }
    .wonders__body {
    }
    .wonders__img {
    }
    .wonders__items-body {
        padding-inline-start: 50px;

    }

    .wonders__title {
        font-size: 50px;
    }

    .wonder__text {
        font-size: 18px;
        padding-block: 10px;

    }
    .wonder__buttons {
        
    }
    .wonder__buttons-link {
        padding: 10px;
        
    }
    .buttons__first {
    }
    .buttons_twice {
    }



}


// @media (max-width: 1050px)  ====================================
@media (max-width: 1050px) {
    .wonders__items-body {
        padding-inline-start: 50px;
        max-width: 350px;


    }

    .wonders__title {
        font-size: 40px;
    }

    .wonder__text {
        font-size: 16px;
        padding-block: 10px;

    }


}


// @media (max-width: 767.98px)  ====================================
@media (max-width: 767.98px) {


    .header__container {
    }
    .header___body {
}


    .header__logo-link {
    }

    .header__logo-img {
    }
    .nav__menu {
    }
    .menu_list {


    }

    .header__logo-body {
    display: flex;
    justify-self: center;
    }
    .menu__items {
        margin: auto;
    }
    .menu__link {
    }
    .item__two {

    }
    .menu__bottums {
        display: flex;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;

    }
    .menu__bottums {
        flex-direction: column;
        
    }
    .bottums__link {

        min-width: 150px;
   
    }
    .link__yellow {
  
    }
    .link__transparent {
    }
    .bottums__logo {
    }
    .section__1 {
    }
    .wonders {
    }
    .wonders__body {
    }
    .wonders__img {
    }
    .wonders__items-body {
        padding-inline-start: 50px;
        max-width: 250px;
        padding-inline-start: 30px;



    }
    .wonders__title {
        font-size: 34px;
        white-space: nowrap;
    }
    .wonder__text {
        font-size: 18px;
        

    }
    .wonder__buttons {
        font-size: 14px;
        white-space: nowrap;

    }
    .wonder__buttons-link {
    }
    .buttons__first {
    }
    .buttons_twice {
    }

 }

// @media (max-width: 439.98px)  ====================================
 @media (max-width: 490.98px) { 
 

    .wonders__body {
        display: flex;
        flex-direction: column;
    }

    .wonders__items-body {
        display: flex;
        position: relative;
        order: 1;
        max-inline-size: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
}
        .wonders__img {
            order: 2;
            width: 100%;
        }

        .wonder__buttons {
            padding: 10px;
           min-width: 60%;
            align-items: stretch;
            flex-direction: column;
            
        }

        .wonders__title {
            font-size: 34px;
            white-space: nowrap;
            line-height: 1.5;
        }
        .wonder__text {
            font-size: 18px;
            
 }


 
}

 @media (max-width: 540.98px) { 



    .nav__menu{
        left: -50%;
        display: none;
    }

    .open-menu .nav__menu,
    .menu_list,
    .menu__items  {
     display: grid;
     padding: 10px;
     margin: auto;
     row-gap: 10px;
     transition: 0.3s;
     

    }

    .open-menu .nav__menu {
        background-color: rgba(255, 208, 99, 0.2);
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
       
    }
    



    .menu__bottums{
        padding-block-start: 10px;
        gap: 10px;

    }

    .header__logo-body {
    min-width: 100%;
    align-items: center;


 }


 .header__body-logo {
    flex: 1 1 auto
    }
    .menu__bottums {
        padding: 10px;
    }


    .icon-menu {
        position: relative;
        background-color: black;
        width: 20px;
        height: 3px;
   
    }


        .icon__body {
            padding-inline-start: 20px;

        }


    .icon-menu span::before, 
    .icon-menu span::after {
    content:'';
    background-color: black;
    width: 20px;
    height: 3px;
    position: absolute;
    right: 0;

}

.icon-menu span::before {
    top: 8px;
}

.icon-menu span::after {
    top: -8px;
}

.icon-menu span {
    transform: scale(0.8);
    transition: all 0.3s;

}


.open-menu .icon-menu span::after {
    transform: scale(0.8) rotate(90deg);
    transition: all 0.3s;
 }

.open-menu .icon-menu span::before{
    transform: scale(0.8) rotate(90deg);
    transition: all 0.3s;

}

.open-menu .icon-menu {
    transform: scale(0.8) rotate(90deg);
    transition: all 0.3s;
    
}



 
 }



 .making__container {

    min-inline-size: 100%;
    block-size: auto;
    z-index: 50;
    position: relative;
}
.making__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100%;


}

    .body__img {
        min-inline-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding-block-end: 80px;
        flex-wrap: wrap;
        background-color: #013A4C;

}

.body_tittle {
    font-family: Roboto;
    font-weight: 100;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff;

    padding-block-start: 80px;
    padding-block-end: 24px;
}

// ====================.section__3===================================

.section__3 {
    display: flex;
    justify-content: center;

}

.turn__container {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: content-box;


}


.turn__body {
    display: flex;
    justify-content: center;
    display: flex;
    gap: 14px;
    width: 100%;
    height: 100%;
    padding-inline: 144px;
    // flex-wrap: wrap;


   


}
.items {
}
.items__body {
    flex-wrap: wrap;

    


}

.item__title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: #F2DCE4;
    padding-block-end: 38px;
    max-width: 405px;
    flex-wrap: wrap;

}
.item__text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-block-end: 20px;

}
.items__body-img  {
    max-width: 100%; 
    max-height: 100%; 
    position: relative;
    inset-block-start: -120px;
    z-index: 1;
    padding-inline-start: 14px;


}


.item__button {
    display: inline;
    background-color: #FFD063;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: black;
    padding: 14px 21px 16px 21px ;
    border-radius: 4px;
    &:hover {
        background-color: #e6ac26;
        transition: all 0.3s;
    }




}
.item__link {
   padding-block-start: 20px ;
}



// SECTION__4=================================


.section__4 {
    display: flex;
    justify-content: center;

}

.collab__container {
    display: flex;
    justify-content: center;
    background-color: #013A4C;
    padding-block-start: 160px;
    margin: 0;



}
.collab__body {
    display: flex;
    flex-direction: column;
    background-color: #D3E8F4;;
    border-radius: 8px;
}

.items__column-img {
    display: flex;
    padding-inline: 96px;
    padding-block-start: 31px;
    padding-block-end: 33px;
    padding-block-end: 72px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 110px;
}

.item__container-img {
    min-width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

}

    .collab__items-img{
        flex-direction: column;
        display: flex;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #013A4C;
        align-items: center;
        gap: 7px;
      

}






.body__containers-img {
    margin: 0;
    padding: 0;
    &:hover {
        transform: rotate3d(1, 1, 1, 40deg);
    }



}

.body__containers-img img {
    padding-top: 30px; /* Отступ сверху для картинки */
    width: 100%;  /* Картинка будет уменьшаться */
}

.items__body__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline-start: 96px;
    max-width: 650px;

}
.body__title {
    display: flex;
    justify-content: flex-start;
    font-family: Roboto;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #013A4C;
    padding-block-end: 11px;

}
.body__text {
    max-inline-size: 545px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #013A4C;
    padding-block-end: 56px;

}
.body__list {

    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #013A4C;
    padding-block-end: 43px;
}

    .list__body {
        display: flex;
        padding-block-end: 8px;


    }

    .list__body img {
        padding-inline-end: 8px;
    }


.body__button a {
    display: inline-block;
    align-self: flex-start;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #013A4C;
    padding-inline: 17px;
    padding-block: 11px;
    border: 1px solid #346170;
    border-radius: 4px;
    &:hover {
        background-color: #76c2da;
        border-color:  #76c2da;
    }

}

.body__button {
        padding-block-end: 80px;

}

.collab__img {
        inline-size: 24px;
        block-size: 24px;

}


// SECTION__5==========================

.section__5 {
    display: flex; /* Это может предотвратить схлопывание */
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.press__container {
    background: url("/Rectangle (9).svg") 50% 50% no-repeat; /* Фоновое изображение */
    background-size: cover; 
    width: 100%;    /* Картинка будет растягиваться на 100% ширины контейнера */
    height: 2432px;
    max-height: auto;
    margin: 0px;

}



.section__play {
    display: flex;
    justify-content: center;
    padding-block-start: 128px;
}

.play__container  {

    display: flex;
    justify-content: center;
    width: 100%; 
    box-sizing: content-box;
    
}

.play__container img {
    min-width: 100%;    /* Картинка растягивается по ширине контейнера */
    height: 100%;   /* Картинка растягивается по высоте контейнера */
    object-fit: cover; /* Картинка будет растягиваться, сохраняя пропорции, без искажения */
}



.press__items-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.body-title {
    display: flex;
    justify-content: center;
    padding-inline: 144px;
}



.press__body-header {
    font-family: Roboto;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #013A4C;
    text-align: center;
    max-width: 800px;
    padding-block-end: 150px;
    padding-block-start: 122px;
    padding-inline: 15px;
    flex-wrap: wrap;


}

.title img {
    max-width: 100%;

}


.body-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-block-end: 126px;
}


.title h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;

}

.title p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #013A4C;
    padding-block-end: 17px;
}

.title h2 {
    padding-block-start: 15px;
    padding-block-end: 34px;
}


.title {
    width: 50%;
}


.press__body-title {
    display: flex;
    align-items: end;
    padding-inline-end: 100px;
    
}
.press__body-title-3 {
    display: flex;
    align-items: end;
    
}


.press__bottun a {
    color: #FFFFFF;
    padding-inline: 17px;
    padding-block: 11px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    &:hover {
        background-color: #18447a;
        transition: all 0.3s;

    }

    

}

.press__items-title-3 {
    padding-block-end: 20px;

}

.press__bottun  {
    display: inline-block;
    background-color: #013A4C;
    border-radius: 4px;
}

// SECTION__6 ==========================


.section__6 {
    display: flex;
    justify-content: center;

    

}
.believe__container {
    display: flex;
    margin: 0px;
    justify-content: center;
    width: 100%;
    box-sizing: content-box;


}
.believe__body {
 
    




}
    
.believe__img {


}

.believe__container {
    position: relative;
    z-index: 2;
    padding: 0px 0px 0px 0px;

}



.believe__items {
    display: inline-block;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    inset-inline-start: 144px;
    inset-block-start: 285px;
    flex-wrap: wrap;
    max-width: 100%;
    padding-inline: 10px;
    padding-block: 10px;

    
.items__believe-button:hover {
    background-color: #e6ac26;
    transition: all 0.3s;

}

}
.believe__img img {
    width: 100%;    /* Картинка будет растягиваться на 100% ширины контейнера */
    height: auto;   /* Высота будет автоматически регулироваться, чтобы сохранить пропорции */
}
.items__believe {
}
.items__believe-tittle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 73px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #F2DCE4;
    padding-block-end: 31px;
}
.items__believe-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    padding-block-end: 25px;
    max-width: 470px;
    
}
.items__believe-button {
    display: inline-block;
    background-color:#FFD063 ;
    border-radius: 4px;
    padding-inline: 17px;
    padding-block: 11px;


}


// SECTION__JUST======================

.section__just {
    background-color: #FFFFFF;
 
}
.just__container{
    overflow: hidden;
    position: relative;

    padding: 0px 0px 0px 0px;


}
.just__items-title {
    padding-block-start: 66px ;
    padding-inline-start: 144px;


}
.just__items {
    display: grid;
    grid-template-columns: repeat(4, auto);;
    gap: 14px;
    position: relative;
    z-index: 20;
    left: 144px;
    flex-wrap: nowrap;
    &:hover {
        transform: translate(-30%);
        transition: all 1.5s;
    }



}

.item__just-text {
    display: flex;
    padding-block-end: 65px;
    padding-inline-start: 33px;


}

.item__just-text img {
    width: 48px;
    height: 48px;
    padding-inline-end: 16px ;
}

.item__just {
}

.item__just-title {
    padding-block-end: 18px;
    padding-inline-start: 33px;
    padding-block-start: 66px;
    padding-inline-end: 33px;

}

.item__just-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #D6DFE2;
    width: 375px;
    max-height: 100%;

}


.just__items-title {
    padding-block-start: 127px;
    padding-block-end: 57px;
}


.just__items-title  p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #013A4C;


}

.just__items-title h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;

}


.item__just-link {
    padding-inline-start: 33px;
 


}

.item__just-link a {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #89285B;

}
.item__just-text p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #013A4C;
    max-width: 150px;
}



// .section__seamless ==========================

.section__seamless {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;



}
.seamless__container {

    justify-content: center;
    display: flex;
    margin: 0px;
    width: 100%;

}
.seamless__body {
    display: flex;
    padding-block-start: 315px;
    justify-content: center;
    width: 1152px;
    flex-wrap: wrap;
}
.body__seamless {
}
.body__seamless-items {
    display: inline-block;
    max-width: 512px;
    max-height: 310px;
    padding-inline-end: 162px;
    flex-direction: column;

    padding-block-start: 126px;

}
.seamless__items-title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: #013A4C;
    flex-wrap: wrap;
}
.seamless__items-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #013A4C;
    padding-block-start: 30px;
    padding-block-end: 19px;
    max-width: 400px;

}
.seamless__items-button {
    display: inline-block;
    padding-inline: 21px;
    padding-block: 15px;
    background-color: #FFD063;
    border-radius: 4px;
    &:hover {
        background-color: #e6ac26;
    }
}
.seamless__items-link {
    display: inline-block;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #013A4C;

}
.body__seamless-column--center{
    display: flex;
    flex-direction: column;
    top: -86px;


}

.body__seamless-column {
    display: flex;
    flex-direction: column;
    gap: 124px;
    justify-content: center;

}
.column__seamless-img{
 
 
}

.seamless__column-body {
    position: relative;
    display: flex;
    gap: 124px;
    top: -40px;
    max-width: 100%;
    padding-inline: 50px;
}



.section__visit {
    background-color: #FFFFFF;
}
.visit__container {
    display: flex;
    justify-content: center;
    padding-inline: 144px;
}
.visit__body {
}
.visit__header {
    display: flex;
    justify-content: space-between;


}
.visit__header-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
    padding-inline-end: 15px;

}
.visit__header-button a {
    display: flex;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #013A4C;
    background-color: #FFD063;
    padding-inline: 21px;
    padding-block: 15px;
    &:hover {
        background-color: #e6ac26;
    }

}

.visit__header-button  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;


}

.visit__main {
    display: flex;
    flex-direction: column;
    padding-block-start: 80px;
}
.visit__main-header {
    display: flex;
    background-color: #F2DCE4;
    border-radius: 8px;
}
.visit__main-title {
    width: 50%;
}

.visit__main-article {
    padding-inline-start: 32px;
    padding-block-start: 48px;
}

.visit__main-article p {
    display: inline-block;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0%;
    color: #F2DCE4;
    background-color: #B73D8B;
    border-radius: 2px;
    padding-inline: 8px;
    padding-block: 5px;
}
.visit__main-text1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;

    padding-inline-start: 32px;
    padding-block-start: 63px;
    padding-block-end: 88px;

    max-width: 448px;

}
.visit__main-text2 {
    display: flex;
    padding-inline-start: 24px;

    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
    gap: 19px;
    color: #013A4C;

}

.visit__main-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}


.visit__main-phone img {
    max-width: 100%;
    
}
.visit__main-footer {
    padding-block-start: 24px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 24px;
    column-gap: 24px;
    flex-wrap: wrap;
}
.visit__footer-column {

}
.footer__column1 {
    display: flex;
    flex-direction: column;
    background-color: #013A4C;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: space-between;
}
.footer__column-img {

}

.footer__column-img img {
    width: 100%;
}


.footer__column-button {
    padding-block-end: 18px;
    padding-block-start: 24px;
    border-radius: 2px;
    padding-inline-start: 24px;


}
.footer__column-button a {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0%;
    padding-inline: 8px;
    padding-block: 5px;
    background-color: #F2DCE4;

    color: #013A4C;

}


.footer__column-title {
    padding-block-end: 69px;
    padding-inline-start: 24px;
    padding-inline-end: 50px;
   
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;

}
.footer__column-text {

    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;

    gap: 20px;
    padding-inline: 24px;
    color: #FFFFFF;
    padding-block-end: 24px;
}







.footer__column2 {
    background-color: #0F5987;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;

}

.footer__column2-button2 a {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding-inline: 17px;
    padding-block: 11px;
    border-radius: 4px;
    color: #FFFFFF;
    &:hover {
        background-color: #5395bf;
    }

}
.footer__column2-button2 { 
    padding-block-end: 88px;
}

.footer__column2-button a {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 2px;

    padding-inline: 8px;
    padding-block: 5px;
    color: #FFFFFF;
    background-color:#187BB7;

}
.footer__column2-title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    padding-block-start: 107px;
    padding-block-end: 116px;
    

    color: #FFFFFF;

}
.footer__column2-button {
    padding-block-start: 28px;
}









.footer__column3 {
    background-color: #F2DCE4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__column3-body {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}
.footer__column3-img img {
    width: 100%;

}

.footer__column3-article {
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 18px;
}

.footer__column3-article p {
    display: inline-block;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0%;
    color: #F2DCE4;
    background-color: #B73D8B;
    border-radius: 2px;
    padding-inline: 8px;
    padding-block: 5px;
}


.footer__column3-title {
    padding-inline: 24px;
    padding-block-end: 37px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;

    color: #013A4C;


}
.footer__column3-text {
    display: flex;
    padding-inline-start: 24px;
    padding-block-end: 24px;
    gap: 19px;

    font-family: Work Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;

    color: #013A4C;

}

// ===============.section__more ==========================

.section__more {
    background-color: #FFFFFF;
    padding-block-start: 303px;

}
.more__container {
    padding-inline: 144px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.more__body {
    display: flex;

    flex-wrap: wrap;

    


}
.more__body-header p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;

}


.more__body-header {
padding-block-end: 49px;
}

.more__column {
    display: flex;
    gap: 32px;
    text-align: center;


}

.more__body-column {
    display: flex;
    flex-direction: column;
}
.column__body1 {

}
.column__body1-img img {
    max-width: 100%;
}
.text-body {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

    padding-block-start: 18px;
    padding-block-end: 19px;
    
    color: #013A4C;
}
.title-body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0.4px;
    text-align: center;
    padding-block-end: 22px;

    color: #013A4C;

}


.bottun-body{
    padding-block-end: 144px;
 



}

.bottun-body a {

    padding-inline: 21px;
    padding-block: 15px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #013A4C;
    background-color: #FFD063;
    border-radius: 4px;
    &:hover {
        background-color: #e6ac26;
        transition: all 0.3s;
    }


}
.column__body2 {
}
.column__body2-img img {
    max-width: 100%;
}
.column__body2-text {
}
.column__body2-title {
}
.column__body2-bottun {
}

// ==============================

.section__why {
    background-color: #013A4C;
}
.why__container {
    padding-inline: 104px;
}
.why__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why__body-column1 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, auto));
    padding-block-start: 64px;
    padding-block-end: 70px;
    column-gap: 101px;
    flex-wrap: wrap;
    padding-inline: 20px;

}

.why__body-column1:first-child {

}


.why__item1 {
    display: flex;
    padding-inline-end: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;


}
.why__item1-img {

}


.why__item1-text {
    padding-block-start: 67px;
    min-width: 100%;

}


.why__item1-text p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFFFFF;


}
.why__item2 {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-block-start: 5px;
    justify-content: space-between;



}
.why__item2-list {
    display: flex;
    flex-direction: column;
    gap: 13px;

}
.why__item2-link {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #99B0B7;

}

.why__item2-link--white {
    color: #FFFFFF;

}

.why__body-column2 {

}

.why__body-column2::before,
.why__body-column2::after {
    content:'';
    width: 100%;
    height: 1px;
    background-color: #346170;
    
}






.why__items3 {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-block-start: 48px;
    padding-block-end: 80px;
    flex-wrap: wrap;
}
.whi__items3-body {
}
.why__items3-title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;

    color: #FFFFFF;

}
.why__items3-text  {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    padding-block-start: 14px;
    max-width: 367px;

    color: #FFFFFF;

}

.why__items3-bottun {
    background-color: #FFD063;
    border-radius: 4px;

}

.why__items3-bottun a {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding-inline: 17px;
    padding-block: 11px;
    &:hover {
        background-color: #e6ac26;
        transition: all 0.3s;
    }

    color: #013A4C;

}
.why__body-column3 {
    display: flex;
    gap: 18px;
    align-items: center;
    padding-block-start: 17px;
    padding-block-end: 73px;
}
.why__item4-list {
    display: flex;
    gap: 32px;

}
.why__item4-link {
}
.why__item4-img {
}







// =============MEDIA===============================




@media (max-width: 1430px) { 

    .believe__items  {  
       top: 0;
        left: 0;
        padding-block-start: 180px;
        padding-inline-start: 80px;

}
}



@media (min-width: 937px)  and (max-width: 1080px) {

    .turn__container {
        max-height: 100%;

    }

    .believe__items  {  
         padding-block-start: 80px;
         padding-inline-start: 40px;
 
 }

    .turn__body {
        flex-wrap: wrap;
        height: auto;
    }

    .items__body {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .items__body-img {
        position: inherit;


    }

    .items__body-img img {
        max-width: 100%;
        height: auto;
    }


    .item__link {
        padding: 0;
    }

    .collab__container {
        padding-block-start: 20px;
    }

    .seamless__body {
        padding-block-start: 100px;
    } 

    .body__seamless-items {
        padding-block-start: 50px;
    }


    .seamless__column-body {
        padding-block-start: 150px;
        position: inherit;
        padding-block-end: 150px;
    }

    .visit__header-button {
        display: flex;
        align-items: center;
    }

    .visit__header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .section__more {
        padding-block-start: 150px;
    }

    .footer__column-title, 
    .footer__column3-title {
        font-size: 18px;
    }

    .footer__column-title {
        padding-block: 10px;
        padding-inline: 10px;
        text-align: center;
    }
    .footer__column2-title {
        padding-block: 20px;
    }

    .footer__column2-button2 {
        padding-block-end: 24px;
    }

    .section__more {
        padding-block-start: 100px;
    }

    .visit__main-footer {

    }

    .why__body-column1 {
        display: grid;
        justify-content: center;
        row-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }

    .section__more {
        padding-block-start: 150px;
    }

    .visit__main-text1 p {
        font-size: 30px;
    }
}


@media (min-width: 600px)  and (max-width: 937px) { 

    .turn__container {
        max-height: 100%;

    }

    .turn__body {
        flex-wrap: wrap;
        height: auto;
    }

    .items__body {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .items__body-img {
        position: inherit;


    }

    .items__body-img img {
        max-width: 100%;
        height: auto;
    }


    .item__link {
        padding: 0;
    }

    .collab__container {
        padding-block-start: 20px;
    }

    .seamless__body {
        padding-block-start: 100px;
    } 

    .body__seamless-items {
        padding-block-start: 50px;
    }


    .seamless__column-body {
        padding-block-start: 150px;
        position: inherit;
        padding-block-end: 150px;
    }

    .visit__header-button {
        display: flex;
        align-items: center;
    }

    .visit__header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .section__more {
        padding-block-start: 150px;
    }

    .footer__column-title, 
    .footer__column3-title {
        font-size: 18px;
    }

    .footer__column-title {
        padding-block: 10px;
        padding-inline: 10px;
        text-align: center;
    }
    .footer__column2-title {
        padding-block: 20px;
    }

    .footer__column2-button2 {
        padding-block-end: 24px;
    }

    .section__more {
        padding-block-start: 100px;
    }

    .visit__main-footer {

    }

    .why__body-column1 {
        display: grid;
        justify-content: center;
        row-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }

    .section__more {
        padding-block-start: 150px;
    }

    .visit__main-text1 p {
        font-size: 30px;
    }

    .item__title {
        font-size: 50px;
    }

    .section__play {
        padding-block-start: 80px;
    }

    .press__body-header {
        font-size: 48px;
        padding-block: 50px;
    }

    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }


.press__body-title,
.press__body-title-2,
.press__body-title-3
   {
        display: flex;
        justify-content: center;
        padding-inline: 50px;

    }
    .press__body-title-3 {
        padding-block-end: 50px;
    }

    .items__believe-tittle {
        font-size: 30px; 
    }
        .items__believe-text {
            font-size: 18px; 
        }

        .just__items-title {
            padding-block-start: 80px;
        }

        .seamless__body {
            padding-block-start: 60px;
        }

        .visit__header-title {
            text-align: center;
        }

        .visit__main-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .visit__main-text1 {
            padding-block: 30px;
            padding-inline-end: 32px;
 
        }

        .visit__main-phone img {
            max-width: 400px;
        }

        .visit__main-footer {
            display: flex;
            justify-content: center;
        }
        .visit__footer-column {
            width: 100%;

        }

        .section__more {
            padding-block-start: 80px;
        }

        .more__body-header {
            text-align: center;
        }

        .more__column {
            display: flex;
            flex-direction: column;
        }

        .bottun-body {
            padding-block-end: 50px;
        }

        .visit__main-title {
            width: 100%;
        }

        
        .believe__items {
            padding-inline-start: 20px;
            padding-block-start: 80px;
        }

}

@media (min-width: 320px)  and (max-width: 600px) {


    .turn__container {
        max-height: 100%;

    }

    .turn__body {
        flex-wrap: wrap;
        height: auto;
    }

    .items__body {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .items__body-img {
        display: flex;
        justify-content: center;
        position: inherit;
        width: 236px;
        height: auto;
        padding-block: 25px;


    }

    .items__body-img img {
        width: 236px;

    }


    .item__link {
        padding: 0;
    }

    .collab__container {
        padding-block-start: 20px;
    }

    .seamless__body {
        padding-block-start: 100px;
    } 

    .body__seamless-items {
        padding-block-start: 50px;
    }


    .seamless__column-body {
        padding-block-start: 150px;
        position: inherit;
        padding-block-end: 150px;
    }

    .visit__header-button {
        display: flex;
        align-items: center;
    }

    .visit__header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .section__more {
        padding-block-start: 150px;
    }

    .footer__column-title, 
    .footer__column3-title {
        font-size: 18px;
    }

    .footer__column-title {
        padding-block: 10px;
        padding-inline: 10px;
        text-align: center;
    }
    .footer__column2-title {
        padding-block: 20px;
    }

    .footer__column2-button2 {
        padding-block-end: 24px;
    }

    .section__more {
        padding-block-start: 100px;
    }

    .visit__main-footer {

    }

    .why__body-column1 {
        display: grid;
        justify-content: center;
        row-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }

    .section__more {
        padding-block-start: 150px;
    }

    .visit__main-text1 p {
        font-size: 30px;
    }

    .item__title {
        font-size: 50px;
    }

    .section__play {
        padding-block-start: 80px;
    }

    .press__body-header {
        font-size: 48px;
        padding-block: 50px;
    }

    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }


.press__body-title,
.press__body-title-2,
.press__body-title-3
   {
        display: flex;
        justify-content: center;
        padding-inline: 50px;

    }
    .press__body-title-3 {
        padding-block-end: 50px;
    }

    .items__believe-tittle {
        font-size: 30px; 
    }
        .items__believe-text {
            font-size: 18px; 
        }

        .just__items-title {
            padding-block-start: 80px;
        }

        .seamless__body {
            padding-block-start: 60px;
        }

        .visit__header-title {
            text-align: center;
        }

        .visit__main-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .visit__main-text1 {
            padding-block: 30px;
            padding-inline-end: 32px;
 
        }

        .visit__main-phone img {
            max-width: 400px;
        }

        .visit__main-footer {
            display: flex;
            justify-content: center;
        }
        .visit__footer-column {
            width: 100%;

        }

        .section__more {
            padding-block-start: 80px;
        }

        .more__body-header {
            text-align: center;
        }

        .more__column {
            display: flex;
            flex-direction: column;
        }

        .bottun-body {
            padding-block-end: 50px;
        }

        .visit__main-title {
            width: 100%;
        }

        .items__column-img {
            gap: 50px;
        }
        .body__title {
            font-size: 24px;
        }
        .items__body__text {
         
            padding-inline: 15px;
        }

        .item__container-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .body__button {
            padding-block-end: 10px;
        }
        .body__containers-img img {
            padding: 0;
        }

        .press__body-header {
            font-size: 24px;
            line-height: 1.2;
        }
        .items__column-img {
            padding-inline: 15px;
        }
        .title h2 {
            font-size: 24px;
            padding-block-end: 15px;
        }
        .body-title {
            padding-block: 30px;
        }
        .items__believe-tittle {
            font-size: 24px;
        }
        .items__believe-text {
            font-size: 16px;
        }
        .press__container {
            max-height: 2200px;
        }
        .just__items-title {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding-inline: 15px;
        }


        .believe__items  {
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
        .items__believe-button {
            text-align: center;
        }

        .believe__body {
            display: flex;
            flex-direction: column;
        }

        .believe__img {
            order: 1;
        }
        .believe__items  {
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            position: inherit;
            text-align: center;
            padding-inline: 10px;
            padding-block: 10px;
            .items__believe-tittle {
                padding: 0;
            }
            .items__believe-text {
                padding: 0;
            }

        }

        .items__believe-tittle {
            padding-block-end: 10px;
        }
        .items__believe-button { 
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

           
        }

        .just__items  {
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-inline: 15px;
            transform: none;
    
        }
        .item__just-body {
    
            width: 100%;
        }

        .seamless__items-title {
            font-size: 24px;
            text-align: center;
        }

        .body__seamless-items {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 15px;
            max-width: 100%;
        }

        .seamless__body  {
            display: flex;
            justify-content: center;
            max-width: 100%;
        }

        .seamless__items-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            max-width: 100%;
            padding-block-start: 15px;

        }

        .seamless__column-body {
            padding-block: 25px;
            display: flex;
            justify-content: center;
            padding-block-start: 50px;
            position: inherit;
            width: 50%;
            row-gap: 10px;
            column-gap: 10px;

        }

        .visit__header-title{
            font-size: 24px;
            padding-block: 15px;
        }

        .visit__body {
            width: 100%;
        }

        .visit__container {
            padding-inline: 15px;
        }
        .more__column {
            gap: 80px;
        }
        .why__body-column1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
            column-gap: 10px;
            
        }
        .why__container {
            padding-inline: 15px;
 
        }

   
 }
