@use "reset";
@use "sass:math";

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-y: auto;

}


h2 {
    font-size: 3rem;
}
p { 
    font-size: 1.3125rem;
}

// TO %
@function prc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}
// REM///////
@function rem($px) {
    $result: math.div($px, 16);
    @return #{$result}rem;
}
// EM///////
@function em($px) {
    $result: math.div($px, 16);
    @return #{$result}em;
}


// ====================STYLE - HEADER__CONTAINER===================================

.wrapper {
    position: relative;


    
}

.section__1 {
    display: flex;
    justify-content: center;
 

}

.header__container { 
    display: flex;
    
    
    padding-block: rem(32);
    padding-inline: rem(110);
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    position: fixed;
    z-index: 50;
    top: 0;

    background: rgb(255, 255, 255); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.1);
    
    animation: swing 6s ease-in-out infinite;
   

       

    .header__items {
    display: flex;
    column-gap: em(24);
    align-items: center;
}
    .header__link {
    white-space: nowrap;
}
    .header__button {

    font-family: Roboto;
    font-weight: 400;
    font-size: rem(16);
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;

    white-space: nowrap;
    
    border-radius: 14px;
    background-color: #0075FF;
    color: #ffff;

    padding-inline: 24px;
    padding-block-start: 17px;
    padding-block-end: 19px;
    &:hover {
    background-color: #2e75c6;
    transition: all 0.2s ease-in;
    animation: pulse 1s ease-in-out infinite;
    }
}

    .header__img {
        display: flex;
        align-items: center;
        
}

    .header__img img {
        max-height: 42px;
}

    }


.nav__items {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding-inline: em(48);

    .nav__list {
    display: flex;


}
    .nav__link {
    font-size: rem(18);
    padding-inline: em(22);
    padding-block: em(10);
    &:hover {
        box-shadow: 0px 4px 10px 0px #e2e2e3e6;
        transition: all 0.1s ease-in;
        transform: scale(1.1);
        background-color: #ffffffdb;
        border-radius: 16px;
        border: 1px solid #dcd9d9db;
    
    }
}
    }


.burger__menu {
    position: relative;
}

.burger__menu span::after,
.burger__menu span::before,
.burger__menu {
    content: "";
    background-color: black;
    width: 25px;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
}

// ====================STYLE - SECTION__2===================================


.button {


    font-weight: 700;
    font-size: rem(18);
    line-height: 20px;
    letter-spacing: 0%;
    white-space: nowrap;

    color: #fff;
    background-color: #0075FF;

    padding-inline: 38px;
    padding-block: 26px;
    border-radius: 14px;
    &:hover {
        background-color: #2e75c6;
        animation: pulse 1s ease-in-out infinite;

        
    }

}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.name__value p {
    font-family: Roboto;
    font-weight: 400;
    font-size: em(16) ;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    white-space: nowrap;

    color: #6E7191;

}

.number__value {

    font-weight: 700;
    font-size: 28px;
    line-height: 36.01px;
    letter-spacing: 0%;
    white-space: nowrap;

    color: #211F54;

    &:hover {
        text-decoration: underline;
    }
}




.section__2 {
    margin-block-start: em(118);
}
.quality__container {
    display: flex;
    padding-inline-start: em(110);
}

.quality__items-body {
    display: flex;
    flex-direction: column;
    padding-block-start: em(230);
}

.quality__items-title {
    font-weight: 700;
    font-size: rem(68);
    line-height: 73.98px;
    letter-spacing: 0%;
    padding-block-end: 22px ;

    color: #211F54;
}

.text {
    line-height: 30.01px;
    letter-spacing: 0%;

    color: #6E7191;
}

.quality__items-text  {
    padding-block-end: 34px;

}


.quality__items-button {
    display: flex;
    align-items: center;
    column-gap:  em(28);
    flex-wrap: wrap;
}

.body__call-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.body__button-items{ }



.body__button-button {
}
.body-call { 
    display: flex;
    align-items: center;
    gap: 16px;

}
.img-phone {
    border: 1px solid #DCDDEB;
    border-radius: 100px;
    padding-inline: 18px;
    padding-block: 18px;

    &:hover {
        transform: rotate3d(360deg);
        transition: transform 0.5s ease-in-out;
    }

}

.img-phone:hover {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.body__call-img img {


}
.body__call-text {
}
.body__call-num {
}








.quality__items-img {
    display: flex;
    align-self: center;
    width: 140%;

  }



.quality__items-img img {
    width: 100%;
    min-width: 350px;
  }

.body__call-num {
    width: 0;
    overflow: hidden;
    animation: typing 2s steps(30) forwards, blink 0.5s step-end infinite;
}



@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }


//   ==============STYLE SECTION__3===========

.section__3 {
    padding-block-start: rem(240);
    
}
.page__works {
}

// =================================
.works__body-items1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;

.items1__works-title {
    padding-block-end: em(21);

}
.items1__works-text {
    padding-block-end: em(58);
    width: 51%;
}
}
// =================================

.works__body-items2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    text-align: center;
    padding-block-end: rem(56);
    column-gap: em(42);
    row-gap: em(42);

.items2__work-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: jump 3s ease-in-out infinite;
}


.items2__works-img {
}
.items2__works-title {
    padding-block-start: rem(39);
    padding-block-end: rem(16);
}

.number__value {
}

.items2__works-text {
}

}
// =================================
.works__body-items3 {
    display: flex;
    justify-content: center;


.items3__works-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: em(28);
}

.items3__works-button1 {
}
.button {
}

}

.button2 {
    border: 1px solid #EFF0F6;
    padding-inline: 38px;
    padding-block: 26px;
    border-radius: 14px;
    font-size: rem(18);
    white-space: nowrap;
    &:hover {
        transition: all 0.2s ease-in;
        background-color: #e4e4e4b6;
        animation: pulse 1s ease-in-out infinite;
    }

}
// =================================


.line {
    display: flex;
    justify-content: center;
    padding-block: rem(240);
    padding-inline: rem(110);

}

.line span {
    display: block;
    max-width: 1220px;
    width: 100%;
    height: 1px;
    background-color: #DCDDEB;
    color: #DCDDEB;
    
}


//   ==============STYLE SECTION__4===========

.section__4 {
}
.page__comparison {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comparison__body-items1 {
    text-align: center;
    width: 47.94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

.comparison__items1-title {
}
.comparison__items1-text {
    width: 115%;
    padding-block-start: em(13);
    padding-block-end: em(32);
}
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.comparison__body-items2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    flex-wrap: wrap;
    align-items: center;
    column-gap: em(84);
    width: 59%;
    



.comparison__body-column {
    display: flex;
    align-items: center;


}
.comparison__body-item {

}
.comparison__item-img {
    padding-inline-end: 10px;
}
.comparison__item-img img {
    width: 72px;;
}
.comparison__item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item__comparison-text {
}
.name__value {
}
.item__comparison-number {
}
.number__value {
}
}


.comparison__body-items3 {
    display: flex;
    justify-content: center;
    margin-block-start: rem(40);
    width: 100%;            /* Контейнер займет всю ширину экрана */
    aspect-ratio: 16 / 9;   
    min-width: 350px;
    padding-inline: em(20);

}

   


.utube {
    width: 82%;    
    height: 80%;   
    object-fit: cover;  
    border-radius: 40px;
    padding-inline: em(10);
}
    
// SECTION__5=============================


.section__5 {
}
.page__take {
    display: flex ;
    justify-content: center;
    flex-direction: column;
}
.take__body-items1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.items1__take-title  {
    max-width: em(475);

}
.items3__take-button2 {
    max-width: 214px;
    max-height: 73px;
}


.take__body-items2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    column-gap: em(28);
    row-gap: em(24);
    padding-block-start: em(48);
    
}
.items2__take-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #EFF0F6;
    border-radius: 16px;
    // &:hover {
    //     animation: jump 1s ease-in-out infinite;
    //     }

}
.items2__take-img {
    padding-block-start: em(48);
}
.items2__take-title {
    padding-block-start: em(24);
}

.items2__take-text {
    padding-inline: em(38);
    padding-block-end: em(29);
    padding-block-start: em(13);
}

// SECTION__6=============================


.section__6 {
    padding-block-start: rem(240);
    padding-inline: em(110);
}
.covid__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: em(72);
    background-color: #211F54;
    border-radius: 24px;
    overflow: hidden; 

}


.covid__img  {
    width: 100%;
    object-fit: cover;
}
.covid__img img {
    width: 100%;
    min-width: 250px;
}
.covid__items {
    padding-inline-end: em(74);
    max-width: 100%;
    padding-block: em(137.5);
}
.covid__items-uppercase {

    font-weight: 700;
    font-size: rem(16);
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.covid__items-title {
    padding-block-start: em(16.5);
    color: #fff;
    max-width: 90%;
}
.covid__items-text {
    color: #fff;
    padding-block-start: em(18);
    padding-block-end: em(11.5);
    max-width: 85%;

    font-family: Roboto;
    font-weight: 400;
    line-height: 30.01px;
    letter-spacing: 0%;
    


}
.covid__body-bottun {
    display: flex;
    column-gap: em(24);
    align-items: center;
    padding-inline-end: em(50);
}
.covid__bottun {
    display: inline-block;
}

.body__call-items {
    gap: em(16.5);
    display: flex;
    align-items: center;
}
.body__call-img {
    background-color: #fff;
}

.number--white {
    color: #fff;
}

.number--white p {
    font-size: rem(28);
}

.text--white p {
    color: #fff; 
}


// SECTION_7=============================

.section__7 {
    display: flex;
    flex-direction: column;
    padding-block-start: em(200);
    gap: em(200);
}
.page__home {
    display: flex;
    gap: em(80);




}


.home__items1{
    display: flex;
    align-items: center;
    max-width: 100%;

}
.home__items1 img {
    max-width: 100%;


}



.home-items2 {
    padding-block-start: em(60);

}
.home__items2-item {
}
.home__items2-title {
}
.home__items2-text p {
    padding-block-start: em(19);
    padding-block-end: em(26);

    font-size: em(18);
    line-height: 30.01px;
    letter-spacing: 0%;

    color: #6E7191;

}
.home__items2-list {
   

}
.home__list-body{
    display: flex;
    gap: em(8);
    padding-block-end: em(24);
}
.home__list-img {
}
.home__list-text {
}
.home__button {
    display: inline-block;

}
.button {
}
.small__what__body {
    display: flex;
    align-items: center;
    gap: em(20);
}
.what__body-item1 {
}
.what__body-title {
}
.what__body-text {
}
.midlle-text p {

    font-size: em(18);
    line-height: 30.01px;
    letter-spacing: 0%;

}
.midlle-text  {
    padding-block-start: em(19);
    padding-block-end: em(15);
}
.text {
}
.what__body-small {
}
.small-text {
    padding-block-end: em(26);

}
.small-text p {

    font-size: em(12);
    line-height: 30.01px;
    letter-spacing: 0%;
}
.what__body-num h2 {
    &:hover {
        animation: pulse 1s ease-in-out infinite;
    }
}

.what__num-num span {
    color: #0075FF;
    font-size: rem(54);
  
}




.what__num-text {
}
.what__button {
    display: inline-block;
}
.what__body-item2 {
    width: 100%;
}
.what__body-item2 img {
    width: 100%;
    min-width: 350px;
}

.home__column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    padding-block-end: em(24);
     

}

.what__column-num {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    padding-block-end: em(48);
        
}

.home-items1 {
    display: flex;
    align-items: center;

    width: 100%;
}
.home-items1 img {
    width: 100%;
    min-width: 350px;
    max-width: 100%;
}

// SECTION_8=============================

.section__8 {
}
.small__article {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);


}
.article__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: rem(30);
    flex-wrap: wrap;



    
}
.article__body-items1 {
    max-width: 60%;





}
.article__title {


}
.article__text {
    padding-block-start: em(9);
    padding-block-end: em(4);
}

.article__body-items2 {
    display: flex;
    gap: em(28);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.article__items-button {
    align-self: center;
}

.article__body-items3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: em(28);



    

    
}
.article__body-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;



}
.article__items3-img img {
    width: 100%;
    min-width: 350px;
    min-height: 350px;
}

.article__items3-img {

}

.article__items3-title {
padding-inline: rem(49);
// position: relative;
// bottom: 11%;
z-index: 2;
background-color: #fff;
margin-top: -50px;



}

.article__items3-title h3 {
    max-width: 410px;

}

.article__items3-title {

    font-weight: 700;
    font-size: rem(24);
    line-height: 34.01px;
    letter-spacing: 0%;

    border: 1px solid #EFF0F6;
    border-radius: 24px;

    padding-block-start: rem(52);
    
}


.article__items3-text {
    padding-block-start: em(17);
    padding-block-end: em(10);
    max-width: 435px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 21px;
    line-height: 30.01px;
    letter-spacing: 0%;


}

.article__body-title {
    padding-inline: em(49);

}
.article__items3-data span {

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
}
.article__items3-data  {
    display: flex;
    justify-content: space-between;
    padding-block-end: rem(49);
    align-items: center;

}
.article__items3-figure {
    background-color: #0075FF;
    width: 10vw; /* 10% ширины экрана */
    height: 10vw; /* 10% высоты экрана */
    max-width: 50px;
    max-height: 50px;
    min-width: 20px;
    min-height: 20px;
}

// SECTION__9=============================================================

.section__9 {
    padding-block-start: em(240);

    

}
.small_request-body {
    display: flex;
    justify-content: center;
    background-color: #F7F9FC;
    padding-block: em(240);
    padding-inline: em(110);

    

}
.request__column-body {
    display: flex;
    justify-content: center;
    column-gap: em(50);
    row-gap: rem(50);
}
.request__column-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block-start: em(145);
    max-width: 33%;
}
.request__items1-body {
}
.request__items2-title h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: rem(28);
    line-height: 36.01px;
    letter-spacing: 0%;
}
.request__items1-text {
    padding-block-start: em(8);
    padding-block-end: em(11.5);


}

.body__call-items--padding{
    padding-block-end: em(51);
}


.line-2 {
    height: 1px;
    width: 90%;
    background-color: #DCDDEB;
    margin-left: -10%;
}
.request__items2-body {
    padding-block-start: em(55);
}
.request__items2-title {
}
.request__items2-text {
    padding-block-end: em(10);
}
.request__items-button {
    background-color: #fff;
    display: inline-block;
    box-shadow: 0px 4px 10px 0px #14142B0A;


}
.button2 {
}


.fade-in {
    opacity: 0;
    transform: translateX(50%) scale(0.8);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform; /* Оптимизация для плавной анимации */
}

/* Добавляем класс при появлении элемента */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}


input, 
textarea {
    border-radius: 16px;
    padding-block: 15px;
    padding-inline: 25px;
    margin-block-end: em(32);
    box-shadow: 0px 2px 12px 0px #14142B14;

}

textarea {
    width: 100%;
    padding-block: 50px;
}

.input p,
.input__day p {

    font-size: rem(18);
    line-height: 30.01px;
    letter-spacing: 0%;
    color: #211F54;
    padding-block-end: rem(12);

}

.input__last {

}

.request__column-2 form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: em(32);
}

.last__input {
    grid-column: span 2;
}

.request__column-2 form {
    padding-inline: em(61);
    padding-block-start: em(84);
    background-color: #fff;
    border-radius: 16px;
}

.request__column2-link {
    display: inline-block;
    margin-block-start: rem(32);
    margin-block-end: rem(85);


}


// ==============SECTION__9=================

.section__9 {
}
.page__qualitys {

}
.qualitys__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    column-gap: em(40);
    row-gap: rem(30);

}
.qualitys__items p {
    padding-inline-end: em(50);
}
.qualitys__item1-body {
}
.qualitys__item1-title {

    font-weight: 700;
    font-size: rem(32);
    line-height: 36.01px;
    letter-spacing: 0%;
    padding-block-end: rem(7);

}
.item-text p {
    font-size: rem(18);
    line-height: 30.01px;
    letter-spacing: 0%;
    padding-block-end: rem(18);

}

.text {
}


.item1-figure {
    width: 36px;
    height: 36px;
    background-color: #EDF5FF;
    border-radius: 8px;

}
.qualitys__item1-figure {
    display: flex;
    column-gap: em(16);

}
.qualitys__item2-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qualitys__item2-title {
    padding-block-end: rem(34);

    font-weight: 700;
    font-size: rem(20);
    line-height: 22px;
    letter-spacing: 0%;

}


.qualitys__item3-body {
}

.qualitys__item3-text p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.01px;
    letter-spacing: 0%;
    color: #6E7191;
    padding-block-end: rem(17);
}





.qualitys__item3-text p:nth-of-type(1), 
.qualitys__item3-text p:nth-of-type(3) {
    font-family: Roboto;
    font-weight: 700;
    font-size: rem(18);
    line-height: 20px;
    letter-spacing: 0%;
    color: #211F54;
    padding-block-end: rem(8);
}


.qualitys__item3-title, 
.qualitys__item4-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: rem(20);
    line-height: 22px;
    letter-spacing: 0%;

    padding-block-end: rem(28);
    

}










.quality__item4-body
 {
}
.quality__item4-title {
}
.quality__item4-text h3{
    color: #0075FF;
    font-family: Roboto;
    font-weight: 700;
    font-size: rem(28);
    line-height: 36.01px;
    letter-spacing: 0%;
    padding-block-end: rem(8);

}
.button {
}

// =============FOOTER===============

.line-3 {
    padding-block-start: em(115);
    padding-inline: 0;
    padding-block-end: 0;

}

.small__footer {

}
.line {
}
.line-3 {
    padding-block-start: em(140);
}
.footer__body {
    display: flex;
    align-items: center;
    padding-block-start: em(40);
    padding-block-end: em(32);
    white-space: nowrap;
    width: 100%;
    column-gap: em(30);

}

.footer__text-body {
    display: flex;
    flex-wrap: wrap;
    row-gap: em(24);
    min-width: 320px;
}
.footer__img {
    flex: 1 1 auto;
}
.footer__text p {
    font-size: rem(18);
    padding-inline-end: em(8);
}
.footer__link {

    font-size: rem(18);
    line-height: 30.01px;
    letter-spacing: 0%;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    padding-inline-end: em(8);

    color: #0075FF;

}

.button--shadow {
    box-shadow: 0px 4px 10px 0px #14142B0A;

}
// =====================================MEDIA=============================


@media (max-width: 1110px) {

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: inherit;
    flex-direction: column;
    row-gap: em(35);
    background-color: fff;
    position: inherit;
    
}
.section__2 {
    margin: 0;
}

.nav__items {

}

.covid__items-title h2 {
    font-size: rem(36);
}
.covid__items-uppercase p {
    font-size: rem(16);
}

.covid__items-text p {
    font-size: rem(16);
}
.number--white p {
    font-size: rem(16);
}


}


@media (max-width: 970px) {
   .quality__container {
    flex-direction: column;
    padding-inline: em(0);
   }

   .quality__items-button {
    padding-block-end: em(30);
   }

   .quality__items-title h1 {
    font-size: rem(48);
   }

   .line {
    padding-block: em(120);
   }
   .comparison__items1-text {
    min-width: 350px;
   }
   .page__comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .take__body-items1 {
    column-gap: em(30);
   }

   .comparison__body-items2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 430px;

   }

   h2 {
    font-size: rem(36);
   }

   .number--white p {
    font-size: rem(18);
   }
   .covid__body-bottun {
    padding-block-start: em(10);
    flex-wrap: wrap;
    row-gap: em(30);
   }

   .covid__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

   }
   .line-3 {
    padding-block-start: em(30);
    padding-block-end: 0;
   }

   .section__9 {
    padding-block-start: em(120);
   }
   .small_request-body{
    padding-block: em(120);
   }

   .quality__items-body {
    display: flex;
    align-items: center;
    padding-block-start: em(120);
    justify-content: center;
    padding-inline: em(50);
   }
   .quality__items-img {

    max-width: 100%;
   }
   .quality__items-img img {
    object-fit: contain;
    width: 100%;
   }
   .quality__items-title {
    text-align: center;
    max-width: 60%;
    min-width: rem(450);
   }
   .items1__works-text {
    min-width: rem(400);
   }

   .items1__works-title {
    min-width: rem(315);
   }
   .page__home {
    flex-direction: column;
   }

   .home-items1  {
    display: flex;
    justify-content: center;
    width: 100%;

}
.home-items1 img {
    width: 100%;
    max-width: 450px;


}

   .home-items2 {
    order: 1;
   }

   .request__column-body {
    flex-wrap: wrap;
   }

   .request__column-1,
   .request__column-2 {
    width: 100%;
    text-align: center;
   }

   .request__column-1 {
    padding-block-start: 0;
   }
   .home__items2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
   .home__column {
    column-gap: em(40);

   }
    
    .home__list-text {
        white-space: nowrap;
    }
 
   
   .small__what__body {
    flex-direction: column;
   }

   .what__body-item1 {
    text-align: center;
   }
   .article__items {
    text-align: center;
   }
   .article__body-items1 {
    min-width: 100%;
   }
   
    .home__column {
        grid-template-columns: repeat(2, 1fr);
    }
    .covid__items {
        padding-block: em(50);
    }
 
    .covid__container {
        display: flex ;
        flex-direction: column;
    }
    .covid__items {
        padding-inline: em(10);
        align-items: center;
        text-align: center;
      
    }
    .request__items1-text {
        padding-block-end: em(20);
    }
    .covid__body-bottun{
        padding-inline: em(10);
        align-items: center;
        justify-content: center;
    }
    .line {
        padding-block: rem(50);
        padding-inline: em(20);
    }
    .utube {
        width: 100%;    
        height: 80%;   
        object-fit: cover;  
        border-radius: 40px;
        padding-inline: em(10);
    }
    .request__column-1 {
        min-width: 100%;
        width: 100%;
    }
    .body__call-items--padding {
        justify-content: center;
    }

}

@media (max-width: 600px) {

 
    .quality__items-text {
        text-align: center;
    }


    .take__body-items1 {
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: em(30);
    }

    .section__6 {
        padding-block-start: em(120);
    }

    .section__7 {
        gap: em(120);
    }

    .small__article {
        padding-block-start: em(80);
    }
  
    .number__value p {
        font-size: rem(16);
    }

    .body__call-items--padding {
        padding-block-start: em(20);
    }
    
    .body__call-items {
        gap: em(5);
    }
    .line-2 {
        margin: 0;
    }

    .footer__body {
        flex-direction: column;
        row-gap: em(10);
    }
    .footer__text-body {
        text-align: center;
        column-gap: em(10);
        align-items: center;
        justify-content: center;
    }
    .covid__items-title h2 {
        font-size: em(24);
    }
    .body__call-items {
        gap: rem(10);
    }
    .img-phone img {
        width: 25px;
    }


    .section__6 {
        padding-block: em(60);
    }
    .section__7 {
        padding-block: em(60);
    }
    .quality__items-button {
        flex-wrap: nowrap;
    }

.page__home,
.quality__container,
.small__what__body,
.small__article,
.small_request-body,
.page__qualitys,
.small__footer,
.section__6,
.page__take,
.page__comparison,
.request__column-2 form {
    padding-inline: em(20);
}
.nav__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    row-gap: em(20);

    
}
.nav__link {
    box-shadow: 0px 4px 10px 0px #0000000a;
    border-radius: 16px;
    padding-inline: em(20);
    padding-block: em(10);



}

}

    



@media (max-width: 470px) {
    

    .header__container {
        padding-inline: em(20);

    }


    .small__article {
        padding-inline: em(20);
    }

    .request__column-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request__column-body {
        min-width: 100%;
    }
    
    .what__body-text p  {
        max-width: 200px;

    }

    .quality__items-title h1 {
        font-size: rem(32);
        flex-wrap: wrap;
        max-width: 250px;
    }

    .quality__items-title {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 60%;
    }

    .quality__items-button {
        justify-content: center;
        row-gap: em(30);
        flex-wrap: wrap;
        padding-block-end: em(80);
    }
    
    .section__3 {
        padding-block-start: em(120);
    }


    .home__items2-list p {
        font-size: rem(18);
    }
    .what__body-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .what__body-small  {
        display: flex;
        justify-content: center;
     
    }
    .what__body-small p {
        word-spacing: wrap;
        max-width: 250px;
    }
 

    .what__body-item2 img {
        max-width: 300px;
        width: 0;
    }
    .home-items1 img {
        max-width: 250px;
        min-width: 0;

    }

    .what__body-item2 {
        display: flex;
        justify-content: center;
    }
    .what__body-item2 img,
    .article__items3-img img {
        max-width: 250px;
        min-width: 250px;
    }

    .article__body-items1  {
        width: 100%;
        max-width: 250px;
        min-width: 250px;

    }
    .article__items { 
        display: flex;
        justify-content: center;
    }

    .article__items3-title {
        padding-inline: em(20);
    }

    .article__items3-title h3 {
        font-size: rem(18);
    }
    .article__items3-text p {
        font-size: rem(16);
    }
    .qualitys__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;

   
    }
    .qualitys__items p {
        padding: 0;

   
    }

    .article__items3-title {
        padding-inline: em(15);
        max-width: 250px;
        min-width: 250px;
    }

    .footer__text-body {
        max-width: 250px;
        min-width: 250px;
    }
    .request__column-2 form {
        column-gap: em(0);
    }

    input {
    border-radius: 16px;
    padding-block: 10px;
    padding-inline: em(4);
    margin-block-end: em(32);
    box-shadow: 0px 2px 12px 0px #14142B14;
    max-width: 120px;
    min-width: 120px;
}


.request__column-2 form {

    padding-inline: em(10);

}
.quality__items-body {
    padding-inline: em(0);
}

.quality__items-img img {

    min-width: 100%;
}
    
.quality__items-img {
    display: flex;
    justify-content: center;
    
}
.items2__works-title{
    white-space: wrap;
}
.items1__works-text {
    max-width: 250px;
    min-width: 250px;

}

.items3__works-button {
    flex-wrap: wrap;
}

.comparison__items1-title h2 {
    font-size: em(28);
}
    .comparison__items1-text p {
    font-size: em(16);
    }

    .comparison__items1-text{
        max-width: 250px;
        min-width: 250px;
    }

    .comparison__body-items2 {
        display: flex;
        flex-direction: column;

}

.comparison__body-column {
    max-width: 190px;
    min-width: 190px;
}

.body__call-img {
    padding-inline: em(12);
    padding-block: em(12);
}

.body__call-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.article__body-items3{
    display: flex;
    flex-direction: column;
    align-items: center;

}


 h2 {
    font-size: rem(32);
}

.text p {
    font-size: rem(16);

}
.qualitys__item1-figure {
    justify-content: center;
}





}

// ==========HOVER================

