@charset "UTF-8";
/* @use "reset"; */
/* @use "components"; */
/* ==========RESET============= */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

ul li {
  list-style: none;
}

button {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-family: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html,
body {
  block-size: 100%;
}

/* ====================================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 1440px; /* = 1280 + 15 + 15 */
  margin-inline: auto;
}

[class*=page__] {
  max-inline-size: 1440px; /* = 1268 + 15 + 15 */
  padding-inline: 86px;
  margin-inline: auto;
}

[class*=small__] {
  max-inline-size: 1440px; /* = 1268 + 15 + 15 */
  padding-inline: 110px;
  margin-inline: auto;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.3125rem;
}

.header__container {
  display: flex;
  padding-block: 2rem;
  padding-inline: 6.875rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__container .header__items {
  display: flex;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
  align-items: center;
}
.header__container .header__link {
  white-space: nowrap;
}
.header__container .header__button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  white-space: nowrap;
  border-radius: 14px;
  background-color: #0075FF;
  color: white;
  padding-inline: 24px;
  padding-block-start: 17px;
  padding-block-end: 19px;
}
.header__container .header__img {
  display: flex;
  align-items: center;
}
.header__container .header__img img {
  max-height: 42px;
}

.nav__items {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding-inline: 3em;
}
.nav__items .nav__list {
  display: flex;
  -moz-column-gap: 1.375em;
       column-gap: 1.375em;
}
.nav__items .nav__link {
  font-size: 1.125rem;
}

.button {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 20px;
  letter-spacing: 0%;
  white-space: nowrap;
  color: #fff;
  background-color: #0075FF;
  padding-inline: 38px;
  padding-block: 26px;
  border-radius: 14px;
}

.name__value p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #6E7191;
}

.number__value {
  font-weight: 700;
  font-size: 28px;
  line-height: 36.01px;
  letter-spacing: 0%;
  white-space: nowrap;
  color: #211F54;
}

.quality__container {
  display: flex;
  padding-inline-start: 6.875em;
}

.quality__items-body {
  display: flex;
  flex-direction: column;
  padding-block-start: 14.375em;
}

.quality__items-title {
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 73.98px;
  letter-spacing: 0%;
  padding-block-end: 22px;
  color: #211F54;
}

.text {
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #6E7191;
}

.quality__items-text {
  padding-block-end: 34px;
}

.quality__items-button {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.75em;
       column-gap: 1.75em;
  flex-wrap: wrap;
}

.body-call {
  display: flex;
  align-items: center;
  gap: 16px;
}

.img-phone {
  border: 1px solid #DCDDEB;
  border-radius: 100px;
  padding-inline: 18px;
  padding-block: 18px;
}

.quality__items-img {
  display: flex;
  align-self: center;
  width: 140%;
}

.quality__items-img img {
  width: 100%;
  min-width: 350px;
}

.body__call-num {
  width: 0;
  overflow: hidden;
  animation: typing 2s steps(30) forwards, blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section__3 {
  padding-block-start: 15rem;
}

.works__body-items1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.works__body-items1 .items1__works-title {
  padding-block-end: 1.3125em;
}
.works__body-items1 .items1__works-text {
  padding-block-end: 3.625em;
  width: 51%;
}

.works__body-items2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  justify-content: center;
  text-align: center;
  padding-block-end: 3.5rem;
  -moz-column-gap: 2.625em;
       column-gap: 2.625em;
  row-gap: 2.625em;
}
.works__body-items2 .items2__work-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.works__body-items2 .items2__works-title {
  padding-block-start: 2.4375rem;
  padding-block-end: 1rem;
}
.works__body-items3 {
  display: flex;
  justify-content: center;
}
.works__body-items3 .items3__works-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75em;
}
.button2 {
  border: 1px solid #EFF0F6;
  padding-inline: 38px;
  padding-block: 26px;
  border-radius: 14px;
  font-size: 1.125rem;
  white-space: nowrap;
}

.line {
  display: flex;
  justify-content: center;
  padding-block: 15rem;
  padding-inline: 6.875rem;
}

.line span {
  display: block;
  max-width: 1220px;
  width: 100%;
  height: 1px;
  background-color: #DCDDEB;
  color: #DCDDEB;
}

.page__comparison {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.comparison__body-items1 {
  text-align: center;
  width: 47.94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comparison__body-items1 .comparison__items1-text {
  width: 115%;
  padding-block-start: 0.8125em;
  padding-block-end: 2em;
}

.comparison__body-items2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 5.25em;
       column-gap: 5.25em;
  width: 59%;
}
.comparison__body-items2 .comparison__body-column {
  display: flex;
  align-items: center;
}
.comparison__body-items2 .comparison__item-img {
  padding-inline-end: 10px;
}
.comparison__body-items2 .comparison__item-img img {
  width: 72px;
}
.comparison__body-items2 .comparison__item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comparison__body-items3 {
  display: flex;
  justify-content: center;
  margin-block-start: 2.5rem;
  width: 100%; /* Контейнер займет всю ширину экрана */
  aspect-ratio: 16/9;
}

.utube {
  width: 79.85%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.page__take {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.take__body-items1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.items1__take-title {
  max-width: 29.6875em;
}

.items3__take-button2 {
  max-width: 214px;
  max-height: 73px;
}

.take__body-items2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  -moz-column-gap: 1.75em;
       column-gap: 1.75em;
  row-gap: 1.5em;
  padding-block-start: 3em;
}

.items2__take-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #EFF0F6;
  border-radius: 16px;
}

.items2__take-img {
  padding-block-start: 3em;
}

.items2__take-title {
  padding-block-start: 1.5em;
}

.items2__take-text {
  padding-inline: 2.375em;
  padding-block-end: 1.8125em;
  padding-block-start: 0.8125em;
}

.section__6 {
  padding-block-start: 15rem;
  padding-inline: 6.875em;
}

.covid__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4.5em;
       column-gap: 4.5em;
  background-color: #211F54;
  border-radius: 24px;
  overflow: hidden;
}

.covid__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.covid__img img {
  width: 100%;
  min-width: 250px;
}

.covid__items {
  padding-inline-end: 4.625em;
  max-width: 100%;
  padding-block: 8.59375em;
}

.covid__items-uppercase {
  font-weight: 700;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.covid__items-title {
  padding-block-start: 1.03125em;
  color: #fff;
  max-width: 90%;
}

.covid__items-text {
  color: #fff;
  padding-block-start: 1.125em;
  padding-block-end: 0.71875em;
  max-width: 85%;
  font-family: Roboto;
  font-weight: 400;
  line-height: 30.01px;
  letter-spacing: 0%;
}

.covid__body-bottun {
  display: flex;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
  align-items: center;
  flex-wrap: wrap;
}

.covid__bottun {
  display: inline-block;
}

.body__call-items {
  gap: 1.03125em;
  display: flex;
  align-items: center;
}

.body__call-img {
  background-color: #fff;
}

.number--white {
  color: #fff;
}

.number--white p {
  font-size: 1.75rem;
}

.text--white p {
  color: #fff;
}

.section__7 {
  display: flex;
  flex-direction: column;
  padding-block-start: 12.5em;
  gap: 12.5em;
}

.page__home {
  display: flex;
  gap: 5em;
}

.home__items1 {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.home__items1 img {
  max-width: 100%;
}

.home-items2 {
  padding-block-start: 3.75em;
}

.home__items2-text p {
  padding-block-start: 1.1875em;
  padding-block-end: 1.625em;
  font-size: 1.125em;
  line-height: 30.01px;
  letter-spacing: 0%;
  color: #6E7191;
}

.home__list-body {
  display: flex;
  gap: 0.5em;
  padding-block-end: 1.5em;
}

.home__button {
  display: inline-block;
}

.small__what__body {
  display: flex;
  align-items: center;
  gap: 1.25em;
}

.midlle-text p {
  font-size: 1.125em;
  line-height: 30.01px;
  letter-spacing: 0%;
}

.midlle-text {
  padding-block-start: 1.1875em;
  padding-block-end: 0.9375em;
}

.small-text {
  padding-block-end: 1.625em;
}

.small-text p {
  font-size: 0.75em;
  line-height: 30.01px;
  letter-spacing: 0%;
}

.what__num-num span {
  color: #0075FF;
  font-size: 3.375rem;
}

.what__button {
  display: inline-block;
}

.what__body-item2 {
  width: 100%;
}

.what__body-item2 img {
  width: 100%;
  min-width: 350px;
}

.home__column {
  padding-block-end: 1.5em;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.what__column-num {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block-end: 3em;
}

.home-items1 {
  display: flex;
  align-items: center;
  width: 100%;
}

.home-items1 img {
  width: 100%;
  min-width: 350px;
}

.small__article {
  display: flex;
  flex-direction: column;
}

.article__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article__text {
  padding-block-start: 0.5625em;
  padding-block-end: 0.25em;
}

.article__body-items2 {
  display: flex;
  gap: 1.75em;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.article__items-button {
  align-self: center;
}

.article__body-items3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.75em;
  row-gap: 350px;
}

.article__body-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.article__items3-img img {
  width: 100%;
  min-width: 350px;
  min-height: 400px;
}

.article__items3-title {
  padding-inline: 3.0625rem;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  bottom: -74%;
}

.article__items3-title h3 {
  max-width: 410px;
}

.article__items3-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 34.01px;
  letter-spacing: 0%;
  border: 1px solid #EFF0F6;
  border-radius: 24px;
  padding-block-start: 3.25rem;
}

.article__items3-text {
  padding-block-start: 1.0625em;
  padding-block-end: 0.625em;
  max-width: 435px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 21px;
  line-height: 30.01px;
  letter-spacing: 0%;
}

.article__body-title {
  padding-inline: 3.0625em;
}

.article__items3-data span {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

.article__items3-data {
  padding-block-end: 3.0625rem;
}/*# sourceMappingURL=style.css.map */